<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="__PUBLIC__/MaterialSrc/js/generateDateSelector.js"></script>

    <link rel="stylesheet" href="__PUBLIC__/SlideMenu/slidemenu.css">
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/MaterialSrc/css/style.css">
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <style>
        * {
            font-family: "微软雅黑";
        }
    </style>
</head>
<body>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div style="min-height: 100%; position: relative;">

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand">
                <span class="ButtonToggle" data-role="SlideMenuToggleButton">
                    &nbsp;
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                </span>
                    <span id="NavBarTitle">资源申请系统</span>
                </div>
            </div>
        </div>
    </nav>

    <div style="padding-bottom: 80px;">
        {__CONTENT__}
    </div>
    <div style="position: absolute; bottom: 0px; width: 100%; text-align: center; height: 80px; color: #ffffff; background-color: #303030; padding-top: 15px; margin-top: 15px">
        <p>Copyright &copy; 2008-<?php echo date("Y"); ?> AU&nbsp;SicunStudio</p>
        <p>All&nbsp;Rights&nbsp;Reserved</p>
    </div>
</div>


<script src="__PUBLIC__/SlideMenu/slidemenu.js"></script>

</body>
</html>