<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="__PUBLIC__/SlideMenu/slidemenu.css">
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/MaterialSrc/css/style.css">
    <script src="__PUBLIC__/js/jquery.js"></script>

    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">

            <div class="navbar-brand">
                <span class="ButtonToggle" data-role="SlideMenuToggleButton">
                    &nbsp;
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                </span>
                <span id="NavBarTitle">资源申请系统</span>
            </div>
        </div>
    </div>
</nav>


{__CONTENT__}

<script src="__PUBLIC__/SlideMenu/slidemenu.js"></script>
</body>
</html>