<!DOCTYPE HTML>
<html>
<head>
<title>辩论社</title>
</head>
<body>

<!-- start main -->
<div class="main_bg">
<div class="wrap">
	<div class="main" id="about">
		<div class="main_text" style="background:#efe">
			<h2>辩论社</h2>
			<h3>&nbsp;</h3>
		</div>	
		<!-- start tabs_style -->
		<section class="tabs">
	            <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
		        <label for="tab-1" class="tab-label-1">社团简介</label>
		
	            <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
		        <label for="tab-2" class="tab-label-2">社团特色</label>
		
	            <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
		        <label for="tab-3" class="tab-label-3">品牌活动</label>
			    <div class="clear-shadow"></div>
		        <div class="content_tab">
			        <div class="content-1">
			        	<a class="tab_left">
				        	
						<img src='__PUBLIC__/AssociationSrc/images/辩论社.png' width='100%' height='200px'>
</a>					</a>
						<a  class="tab_right">
							<p>大学生辩论社其前身为校辩论队，是由原校辩论队队长吕妍及其他队员于2003年3月底发起成立。2009年初，校辩论队正式并入大学生辩论社，优化了学校的辩论资源配置。部内设社长一名，副社长两名，下设财务部、会员部、宣传部、公关部、权益部、外联部及校辩论队。
大学生辩论社组织我校辩论相关活动，品牌活动为“新生杯”辩论赛及“喻晓之巅”辩论赛，并与武汉乃至全国各大高校辩论社建立了密切联系。其日常社员活动丰富多彩，有许多会员间的交流、比赛，极大的提高了会员的能力。

</p>
							<p class="top">本社团曾连续两届荣获校“十佳社团”第一名，连续多届获得校“十佳社团”称号。获得2012年全校唯一一个“湖北省高校优秀大学生社团标兵”，2012-2013年度“湖北省优秀社团”
 </p>
						</a>
						<div class="clear"></div>
					</div>
			        <div class="content-2">
			        	<a class="tab_left">
				        	<h2>社团挂号单位</h2>
							<h3>法学院</h3>
						</a>
						<a  class="tab_right">
							<p>	会员辩论知识讲座
</p>
							<p class="top">
	邀请校辩论队进行培训

 </p>
 							<p class="top">
                           	会员间辩论赛、交流活动
 </p>
  							<p class="top">
                           	观看、分析精彩辩论赛转播
 </p>
 <p class="top">
                           	2003年	获得首届武汉市“红绿灯”杯大学生电视辩论赛冠军；
2004年	“顺爽”杯湖北省高校电视辩论邀请赛季军；
2004年	校“A级社团”、“十佳社团”第一名；
2005年	“顺爽”杯湖北省高校电视辩论邀请赛八强；
2005年	校“A级社团”、“十佳社团”第一名；
2005年	校文化节优秀活动奖；
2005年	“日立”杯全国名校辩论邀请赛最佳团体奖；
2006年	“顺爽”杯湖北省高校电视辩论邀请赛八强，辩论社成员王琰荣获“最佳辩手”称号；
2006年	“A级社团”、“十佳社团”；
2007年	“A级社团”、“十佳社团”；
2007年四月	获得首届武汉市“12312”杯知识产权大学生辩论赛亚军，辩论社李陶、邹艳梅荣获“最佳辩手”称号；
2008年	“A级社团”、“十佳社团”；
2008年	武汉市六名校辩论联赛冠军；
2009年	校“A级社团”、“十佳社团”；
2009年	武汉市辩论锦标赛季军；
2010年	校“A级社团”、“十佳社团”；
2010年	两岸四地世博辩论赛华中赛区冠军；
2010年	两岸四地高校世博辩论大赛华中赛区冠军；
2010年	武汉市辩论锦标赛季军；
2011年	校“A级社团”、“十佳社团”；
2011年	第二届湖北省法学专业辩论赛亚军；
2011年	湖北省优秀社团标兵；
2011年	武汉市辩论锦标赛亚军；
2012年	武汉市辩论锦标赛亚军；
2013年	第三届湖北省法学专业辩论赛亚军；
2013年	校“五星社团”、“十佳社团”；
2013年	第六届武汉市辩论锦标赛最佳辩手 董弋嵩；
2013年	第二届“捭阖杯”全国辩论挑战赛湖北赛区最佳辩手 蒋奕婕、蒲思思、孙佳伟；
2014年	第七届武汉市辩论锦标赛最佳辩手 俞蔚，廖锡宁；
2014年	第三届“捭阖杯”全国辩论挑战赛湖北赛区最佳辩手 董弋嵩、闫林芳；

 </p>
						</a>
						<div class="clear"></div>
					</div>
			        <div class="content-3">
			        	<a class="tab_left">
				        	<h2>欢迎加入</h2>
							<h3>Our activities</h3>
						</a>
						<a  class="tab_right">
							<p>	“新生杯”辩论赛；

</p>
							<p class="top">	“喻晓之巅”辩论赛
 </p>
 							<p class="top">
                           	毕业杯辩论赛
 </p>
  							<p class="top">
                            	校内外各项交流赛
                           </p> 
                           <p class="top">
                            	大学生辩论社人人主页：HUST大学生辩论社
  
                           </p> 
                           <p class="top">
                            2013年毕业杯纪念视频：www.tudou.com/programs/view/dGpN1BSGFW0/
                           </p> 
                           <p class="top">
                             第六届汉锦赛半决赛武大对民大： www.tudou.com/programs/view/2dOqq9A9eX0/
                           </p> 
                           <p class="top">
                            第六届汉锦赛决赛民大对地大：www.tudou.com/programs/view/2SBW7X525Hw/
                           </p> 
                           <p class="top">
                            	2013年新生杯辩论赛半决赛经济对社会：www.tudou.com/programs/view/YS23gUGBg-o/
                           </p> 
                           <p class="top">
                            	2013年新生杯辩论赛半决赛船海对生科：www.tudou.com/programs/view/rF2X8AvreJg/
                           </p> 
                           <p class="top">
                            	2013年新生杯辩论赛全程回顾：v.youku.com/v_show/id_XNjQ4MTU3NzM2.html
                           </p> 
						</a>
						<div class="clear"></div>
                    </div>
		        </div>
		 </section>
		 <!-- end tabs_style -->
		 <div class="clear"></div>
	</div>
</div>
</div>


</body>
</html>