<!DOCTYPE HTML>
<html>
<head>
<title>篮球协会</title>
</head>
<body>

<!-- start main -->
<div class="main_bg">
<div class="wrap">
	<div class="main" id="about">
		<div class="main_text" style="background:#efe">
			<h2>篮球协会 </h2>
			<h3>&nbsp;</h3>
		</div>	
		<!-- start tabs_style -->
		<section class="tabs">
	            <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
		        <label for="tab-1" class="tab-label-1">社团简介</label>
		
	            <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
		        <label for="tab-2" class="tab-label-2">社团特色</label>
		
	            <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
		        <label for="tab-3" class="tab-label-3">品牌活动</label>
			    <div class="clear-shadow"></div>
		        <div class="content_tab">
			        <div class="content-1">
			        	<a class="tab_left">
				        	
						<img src='__PUBLIC__/AssociationSrc/images/篮球协会.png' width='100%' height='200px'>
</a>					</a>
						<a  class="tab_right">
							<p>华中科技大学篮球协会隶属于共青团华中科技大学委员会下属的华中科技大学社团联合会，是华中科技大学校内社团组织；协会现挂靠于华中科技大学研究生工作部。本协会由电力系师生创始于1984年，发展至今已有30年历史，是社团中建立最早的一批之一。
 </p>
						</a>
						<div class="clear"></div>
					</div>
			        <div class="content-2">
			        	<a class="tab_left">
				        	<h2>社团挂号单位</h2>
							<h3>暂无</h3>
						</a>
						<a  class="tab_right">
							<p>协办活动                                            
华中科技大学新生杯篮球赛；
华中科技大学篮球联赛；
华中科技大学研究生篮球赛；
华中科技大学毕业杯篮球赛；
华中科技大学博士杯篮球赛；
CUBS大学生超级联赛（记录台工作）；
湖北省高校联赛暨CUBA湖北省预选赛。

</p>
							<p class="top">
参与活动                                            
 CUBA分区预选赛
湖北省中学生篮球比赛
湖北省中学生运动会


 </p>
 							
						</a>
						<div class="clear"></div>
					</div>
			        <div class="content-3">
			        	<a class="tab_left">
				        	<h2>欢迎加入</h2>
							<h3>Our activities</h3>
						</a>
						<a  class="tab_right">
							<p>篮球裁判员临场及理论培训；；

</p>
							<p class="top">华中科技大学篮球裁判员晋级考试；
 </p>
 							<p class="top">
                            篮球运动及规则发展讲座；
 </p>
  							<p class="top">
                            武汉市高校篮球裁判交流峰会。
                           </p> 
						</a>
						<div class="clear"></div>
                    </div>
		        </div>
		 </section>
		 <!-- end tabs_style -->
		 <div class="clear"></div>
	</div>
</div>
</div>


</body>
</html>