<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <!--<script>-->
            <!--$(document).on("click","#ajax_submit",function(){-->
                <!--alert("get");$("#myModal").modal('show');-->
                <!--$.post("{:U('Material/Material/material_upload')}",$("#applicationForm").serializeArray(),function(){-->

                <!--});-->
            <!--});-->

        <!--</script>-->
    </head>
    <body>
        <ol class="breadcrumb">
            <li><h4>彩喷悬挂申请</h4></li>
        </ol>
            <!--<input type="hidden" name="action_type" value="colorprinting">-->
            <div class="tableContainer">
                <table class="table-bordered FillForm" width="700" border="0">
                    <tbody>
                    <tr>
                        <td width="98" height="50" align="center" valign="middle" scope="col">申请单位</td>
                        <td height="50" colspan="5" align="center" valign="middle" scope="col"> AssociationName </td>
                    </tr>
                    <tr>
                        <td height="50" align="center" valign="middle">经办人信息</td>
                        <td width="53" height="50" align="center" valign="middle">姓名</td>
                        <td width="178" height="50" align="center" valign="middle"> Name </td>
                        <td width="41" height="50" align="center" valign="middle">联系方式</td>
                        <td height="50" colspan="2" align="center" valign="middle"> Phone </td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle">活动内容</td>
                        <td height="120" colspan="5" align="center" valign="middle">ActivityContent</td>
                    </tr>
                    <tr>
                        <td height="50" align="center" valign="middle">活动日期</td>
                        <td height="50" colspan="2" align="center" valign="middle" id="ActivityDateArea">ActivityDate</td>
                        <td height="50" align="center" valign="middle">使用时间</td>
                        <td height="50" colspan="2" align="center" valign="middle">UseTime</td>
                    </tr>
                    <tr>
                        <td height="50" align="center" valign="middle">使用地点</td>
                        <td height="50" colspan="2" align="center" valign="middle">Location</td>
                        <td height="50" colspan="2" align="center" valign="middle">彩喷是否具有商业性质</td>
                        <td width="166" height="50" align="center" valign="middle">Commercial</td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle">备注</td>
                        <td height="100" colspan="5" align="center" valign="middle">Remark</td>
                    </tr>
                    <tr>
                        <td height="208" colspan="3" align="right" valign="bottom"><span class="disable-area"></span><p>校团委意见（盖章）</p>
                            <p>年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日 </p></td>
                        <td height="208" colspan="3" align="right" valign="bottom"><span class="disable-area"></span><p>场地审批单位意见（盖章）</p>
                            <p>年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日 </p></td>
                    </tr>
                    </tbody>
                </table>
            </div>

    </body>
</html>
