<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <ol class="breadcrumb">
            <li><h4>户外路演场地</h4></li>
        </ol>
        <!--<form action="{:U('Material/Material/material_upload')}" enctype="multipart/form-data" method="POST">-->
            <!--<input type="hidden" name="action_type" value="outdoor">-->
            <div class="tableContainer">
                <table width="700" class="table-bordered FillForm">
                    <tbody>
                    <tr>
                        <td width="112" height="50" align="center" valign="middle">协会名称</td>
                        <td width="139" height="50" align="center" valign="middle">
                            AssociationName
                        </td>
                        <td width="84" height="50" align="center" valign="middle">活动名称</td>
                        <td width="111" height="50" align="center" valign="middle">
                            ActivityName
                        </td>
                        <td width="75" height="50" align="center" valign="middle">参与人数</td>
                        <td width="153" height="50" align="center" valign="middle">
                            JoinNumber
                        </td>
                    </tr>
                    <tr>
                        <td height="50" align="center" valign="middle">活动日期</td>
                        <td height="50" align="center" valign="middle" id="ActivityDateArea">
                            ActivityDate
                        </td>
                        <td height="50" align="center" valign="middle">活动时间</td>
                        <td height="50" colspan="3" align="center" valign="middle">
                            ActivityTime
                        </td>
                    </tr>
                    <tr>
                        <td height="50" align="center" valign="middle">活动地点</td>
                        <td height="50" colspan="5" align="center" valign="middle">
                            ActivityLocation
                        </td>
                    </tr>
                    <tr>
                        <td height="120" align="center" valign="middle">活动内容 （主题， 目的， 流程， 安全负责人） </td>
                        <td height="120" colspan="5" align="center" valign="middle">
                            ActivityContent
                        </td>
                    </tr>
                    <tr>
                        <td height="80" align="center" valign="middle">有无商业赞助</td>
                        <td height="80" align="center" valign="middle">
                            Commercial
                        </td>
                        <td height="80" align="center" valign="middle">赞助方名 及赞助方式（如有） </td>
                        <td height="80" colspan="3" align="center" valign="middle">
                            CommercialPart
                        </td>
                    </tr>
                    <tr>
                        <td height="50" align="center" valign="middle">活动负责人</td>
                        <td height="50" colspan="2" align="center" valign="middle">
                            ActivityChargePerson
                        </td>
                        <td height="50" align="center" valign="middle">联系电话</td>
                        <td height="50" colspan="2" align="center" valign="middle">
                            ActivityPhone
                        </td>
                    </tr>
                    <tr>
                        <td height="80" align="center" valign="middle">社团意见</td>
                        <td height="80" colspan="2" align="center" valign="middle">
                            AssociationComment
                        </td>
                        <td height="80" align="center" valign="middle">社联意见</td>
                        <td height="80" colspan="2" align="center" valign="middle">
                            <span class="disable-area"></span>
                        </td>
                    </tr>
                    <tr>
                        <td height="50" align="center" valign="middle">社联经手人</td>
                        <td height="50" colspan="2" align="center" valign="middle">
                            <span class="disable-area"></span>
                        </td>
                        <td height="50" align="center" valign="middle">联系电话</td>
                        <td height="50" colspan="2" align="center" valign="middle">
                            <span class="disable-area"></span>
                        </td>
                    </tr>
                    <tr>
                        <td height="100" align="center" valign="middle">共青团 华中科技大学委员会意见 </td>
                        <td height="100" colspan="2" align="center" valign="middle">
                            <span class="disable-area"></span>
                        </td>
                        <td height="100" align="center" valign="middle">华中科技大学 保卫处意见 </td>
                        <td height="100" colspan="2" align="center" valign="middle">
                            <span class="disable-area"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--<input type="file" name="file" id="inputUploadFile"><input type="hidden" name="ifUploadFile" id="ifUploadFile" value="none">-->
            <!--<input type="submit">-->
        <!--</form>-->

    </body>
</html>
