<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <ol class="breadcrumb">
            <li><h4>大学生活动中心教室申请</h4></li>
        </ol>
        <!--<form action="{:U('Material/Material/material_upload')}" enctype="multipart/form-data" method="POST">-->
            <!--<input type="hidden" name="action_type" value="sacenter">-->
            <div class="tableContainer">
                <table width="700" class="table-bordered FillForm">
                    <tbody>
                    <tr>
                        <td width="104" height="50" align="center" valign="middle">协会名称</td>
                        <td width="122" height="50" align="center" valign="middle">
                            AssociationName
                        </td>
                        <td width="89" height="50" align="center" valign="middle">活动名称</td>
                        <td height="50" colspan="2" align="center" valign="middle">
                            ActivityName
                        </td>
                        <td width="112" height="50" align="center" valign="middle">参与人数</td>
                        <td height="50" colspan="2" align="center" valign="middle">
                            JoinNumber
                        </td>
                    </tr>
                    <tr>
                        <td height="50" align="center" valign="middle">活动日期</td>
                        <td height="50" align="center" valign="middle" id="ActivityDateArea">
                            ActivityDate
                        </td>
                        <td height="50" align="center" valign="middle">活动时间</td>
                        <td height="50" colspan="5" align="center" valign="middle">
                            ActivityTime
                        </td>
                    </tr>
                    <tr>
                        <td height="50" align="center" valign="middle">普通教室<br>（50人） </td>
                        <td height="50" colspan="4" align="center" valign="middle">
                            NormalClassroom
                        </td>
                        <td colspan="2" rowspan="2" align="center" valign="middle">是否经系统查询</td>
                        <td width="114" rowspan="2" align="center" valign="middle">
                            Queried
                        </td>
                    </tr>
                    <tr>
                        <td height="50" align="center" valign="middle">阶梯教室<br>（300人） </td>
                        <td height="50" colspan="4" align="center" valign="middle">
                            LadderClassroom
                        </td>
                    </tr>
                    <tr>
                        <td height="120" align="center" valign="middle">活动内容<br>（主题， 目的， 流程， 安全负责人） </td>
                        <td height="120" colspan="7" align="center" valign="middle">
                            ActivityContent
                        </td>
                    </tr>
                    <tr>
                        <td height="80" align="center" valign="middle">有无商业赞助</td>
                        <td height="80" align="center" valign="middle">
                            Commercial
                        </td>
                        <td height="80" align="center" valign="middle">赞助方名及赞助方式（如有） </td>
                        <td height="80" colspan="5" align="center" valign="middle">
                            CommercialPart
                        </td>
                    </tr>
                    <tr>
                        <td height="50" align="center" valign="middle">活动负责人</td>
                        <td height="50" colspan="2" align="center" valign="middle">
                            ActivityChargePerson
                        </td>
                        <td width="91" align="center" valign="middle">联系电话</td>
                        <td height="50" colspan="4" align="center" valign="middle">
                           ActivityPhone
                        </td>
                    </tr>
                    <tr>
                        <td height="100" align="center" valign="middle">社团意见</td>
                        <td height="100" colspan="2" align="center" valign="middle">
                           AssociationComment
                        </td>
                        <td align="center" valign="middle">社联意见</td>
                        <td height="100" colspan="4" align="center" valign="middle"><span class="disable-area"></span></td>
                    </tr>
                    <tr>
                        <td height="50" align="center" valign="middle">社联经手人</td>
                        <td height="50" colspan="2" align="center" valign="middle"><span class="disable-area"></span></td>
                        <td align="center" valign="middle">联系电话</td>
                        <td height="50" colspan="4" align="center" valign="middle"><span class="disable-area"></span></td>
                    </tr>
                    <tr>
                        <td height="120" align="center" valign="middle">共青团<br>华中科技大学<br>委员会意见 </td>
                        <td height="120" colspan="7" align="center" valign="middle"><span class="disable-area"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--<input type="file" name="file" id="inputUploadFile"><input type="hidden" name="ifUploadFile" id="ifUploadFile" value="none">-->
            <!--<input type="submit">-->
        <!--</form>-->

    </body>
</html>
