<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="{:U('runAddAttr')}" method="post">
    <table class="table">
        <tr>
            <th colspan="2"><if condition="$attr['id']">修改博文属性<else/>添加博文属性</if></th>
        </tr>
        <tr>
            <td align="right">属性名称</td>
            <td>
                <input type="text" name="name"<if condition="$attr['id']">value="{$attr.name}"</if> />
            </td>
        </tr>
        <tr>
            <td align="right">标题颜色</td>
            <td>
                <input type="text" name="color"<if condition="$attr['id']">value="{$attr.color}"</if>/>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="hidden" name="id" <if condition="$attr['id']">value="{$attr.id}"</if>/>
                <input type="submit"<if condition="$attr['id']">value="保存修改"<else/>value="添加属性"</if>/>
            </td>
        </tr>

    </table>
</form>
</body>
</html>