<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>部门菜单</title>
</head>
<body>
<script type="text/javascript" src="../../../../PUBLIC/FreshmenSrc/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="../../../../PUBLIC/FreshmenSrc/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../PUBLIC/FreshmenSrc/style/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../../../../PUBLIC/FreshmenSrc/style/introduction-index.css"/>
<div class="container">

<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-2"><a href="introduction.html#部门介绍"><img src="../../../../PUBLIC/FreshmenSrc/images/caiwu.png"><div class="club">财务部</div></div>
	<div class="col-sm-2"><a href="introduction.html#部门介绍/1"><img src="../../../../PUBLIC/FreshmenSrc/images/meiti.png"><div class="club">媒体部</div></a></div>
	<div class="col-sm-2"><a href="introduction.html#部门介绍/4"><img src="../../../../PUBLIC/FreshmenSrc/images/shetuan.png"><div class="club">社团部</div></a></div>	
    <div class="col-sm-2"><a href="introduction.html#部门介绍/8"><img src="../../../../PUBLIC/FreshmenSrc/images/xinmeiti.png"><div class="club">新媒体工作室</div></a></div>
    <div class="col-sm-2"></div>
</div>

<br /><br />
<div class="row">
	<div class="col-sm-4"><a href="introduction.html#部门介绍/2"><img src="../../../../PUBLIC/FreshmenSrc/images/mishu.png"><div class="club">秘书部</div></a></div>
	<div class="col-sm-4"><a href="introduction.html#部门介绍/7"><img src="../../../../PUBLIC/FreshmenSrc/images/sicun.png"><div class="club">思存工作室</div></a></div>
    <div class="col-sm-4"><a href="introduction.html#部门介绍/3"><img src="../../../../PUBLIC/FreshmenSrc/images/renzi.png"><div class="club">人力资源部</div></a></div>	
</div>

<br />
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-2"><a href="introduction.html#部门介绍/6"><img src="../../../../PUBLIC/FreshmenSrc/images/xuanchuang.png"><div class="club">宣传部</div></a></div>
	<div class="col-sm-2"><a href="introduction.html#部门介绍/9"><img src="../../../../PUBLIC/FreshmenSrc/images/wentuo.png"><div class="club">文艺拓展部</div></a></div>
	<div class="col-sm-2"><a href="introduction.html#部门介绍/5"><img src="../../../../PUBLIC/FreshmenSrc/images/xinjiang.png"><div class="club">行政监察部</div></a></div>	
    <div class="col-sm-2"><a href="introduction.html#部门介绍/10"><img src="../../../../PUBLIC/FreshmenSrc/images/gongguan.png"><div class="club">公共关系部</div></a></div>
    <div class="col-sm-2"></div>
</div>

<br />
<div class="row">
	<div class="col-sm-6"><a href="introduction.html#部门介绍/12"><img src="../../../../PUBLIC/FreshmenSrc/images/wailian.png"><div class="club">外联部</div></a></div>
    <div class="col-sm-6"><a href="introduction.html#部门介绍/11"><img src="../../../../PUBLIC/FreshmenSrc/images/waiqi.png"><div class="club">社团外联企划部</div></a></div>
</div>

</div>

</body>
</html>