<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>部门介绍</title>
</head>
<link rel="stylesheet" type="text/css" href="../../../../Public/FreshmenSrc/style/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../../../../Public/FreshmenSrc/style/jquery.fullPage.css"/>
<script type="text/javascript" src="../../../../Public/FreshmenSrc/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="../../../../Public/FreshmenSrc/js/bootstrap.min.js"></script>	
<script type="text/javascript" src="../../../../Public/FreshmenSrc/js/jquery.fullPage.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../Public/FreshmenSrc/style/introduction.css"/>
<body>
<!--<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" 
         data-target="#example-navbar-collapse">
         <span class="sr-only">切换导航</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
   </div>
   <div class="collapse navbar-collapse" id="example-navbar-collapse">
      <ul class="nav navbar-nav">
         <li class="active"><a href="index.html"><span>部门介绍</span></a></li>
         <li><a href=""><span>我要报名</span></a></li>
       </ul>
    </div>
</nav>	-->
<div class="fullpage">
	<div class="section">
    	
        <div class="slide">
        	<div class="container">
        	<a name="财务部"></a>
        	<div class="title">财务部</div>
        	<img src="../../../../PUBLIC/FreshmenSrc/images/caiwu.png"> 	
			<div class="require">细心、耐心、责任心<br />积极主动、踏实肯干<br />
			1、统一执行社联的财务审核、分配、监督和管理工作<br />2、负责由校团委拨款举办的社团专项活动的财务工作</div>
            </div>
        </div>
        <div class="slide">
        	<div class="container">
        	<a name="meiti" id="meiti"></a>
           <div class="title">媒体部</div>
        	<img src="../../../../PUBLIC/FreshmenSrc/images/meiti.png">
       	 	
			<div class="require">观察力强，有责任心<br />新闻摄影爱好者优先<br />有相关器材及经验者优先<br />
            1、网络文编组：社联社团活动的文字报道和文学创作，负责人人网等网络平台的运营、社团的网络宣传<br />2、逆光编制组：摄影、摄像工作及创作</div>
        </div>
        </div>
        <div class="slide">
        	<div class="container">
        	<div class="title">秘书部</div>
            <img src="../../../../PUBLIC/FreshmenSrc/images/mishu.png">
			<div class="require">责任心、细心、耐心<br />行事有条理<br />
			1、负责主席团和各部门之间的交流，协调各部门工作及日常事务的处理<br />2、负责社联章程及制度的起草，监督其实施<br />3、内部物品管理，档案管理，会议组织及值班安排</div></div>
        </div>
        <div class="slide">
        	<div class="container">
            <div class="title">人力资源部</div>
        	 <img src="../../../../PUBLIC/FreshmenSrc/images/renzi.png">        	
			<div class="require">有责任心、做事踏实<br />积极主动，勇于创新<br />对人力资源管理有兴趣<br />
            1、社联干部招聘、调整，社联干部工作绩效考核评优<br />2、对社联和社团干部培训；引导协会会长做好社团工作<br />3、管理组织内部人事信息建设传承社联组织文化</div></div>
        </div>
        <div class="slide"><div class="container"><div class="title">社团部</div>
        <img src="../../../../PUBLIC/FreshmenSrc/images/shetuan.png">
        	
          	<div class="require">有责任心、有效率<br />踏实肯干、积极主动<br />思维敏捷周密<br />
			1、负责社联与社团的沟通交流，为社团的发展出谋划策<br />2、负责部分社联主办活动的组织和策划，为社团搭建活动平台<br />3、负责社团资料整理及优秀社团精品活动的跟进工作</div></div>
        </div>
        <div class="slide"><div class="container"><div class="title">行政监察部</div>
        	<img src="../../../../PUBLIC/FreshmenSrc/images/xinjiang.png">
			
			<div class="require">有责任心、工作踏实<br />执行力、沟通能力强<br />乐观自信、有热情<br />
		1、承担社联主要的社团监管的各项工作，全面负责面向社团的各项行政和监察工作<br />2、行政组：负责校内所有申请成立的社团的审批和注册，对问题社团进行整顿和取缔<br />3、评分组：对所有校级社团进行日常考核，包括内建考核，活动考核等<br />4、常务组：负责部门对内事务和部门文化建设，负责开展社团会员维权工作</div></div>
        </div>
        <div class="slide"><div class="container"><div class="title">宣传部</div>
        	<img src="../../../../PUBLIC/FreshmenSrc/images/xuanchuang.png">
        	
			<div class="require">积极负责，踏实肯干<br />有创意，对设计感兴趣<br />有制作文化产品兴趣和想法者优先<br />1、活动宣传策划：在实际宣传中运用创意，制定并实最优传播策略<br />2、艺术设计：设计海报、传单、杂志、社联文化产品等<br />3、人才培养：平面设计、摄影后期、宣传创意、文案策划等实践及各类设计软件培训</div></div>
        </div>
        <div class="slide"><div class="container"><div class="title">思存工作室</div>
        	<img src="../../../../PUBLIC/FreshmenSrc/images/sicun.png">
        	
            <div class="require">对IT技术有一定的兴趣，有基础者优先<br />有团队合作精神<br />有好奇心、探索精神<br />1、为社联内部网站以及社团网提供网站制作和服务器维护的技术支持<br />2、为社联和社团的各项活动提供硬件和软件方面的技术支持<br />3、社联内部的技术交流和前沿IT技术沟通培训平台</div></div>
        </div>
        <div class="slide"><div class="container"><div class="title">新媒体工作室</div>
        <img src="../../../../PUBLIC/FreshmenSrc/images/xinmeiti.png">
        	
			<div class="require">兴趣广泛，思维活跃，知识面较广<br />动能与人沟通，静能码字编辑<br >有全局意识及创新意识<br />1、统筹运营社联各个官方线上平台，实时发布讯息<br />2、策划特色专题及线上线下活动<br />3、与社团相联系，实现信息的双向传递，扩大宣传效应<br />4、微信公众平台的二次开发及新媒体宣传模式的尝试和优化</div></div>
        </div>
        <div class="slide"><div class="container"><div class="title">文艺拓展部</div>
        	<img src="../../../../PUBLIC/FreshmenSrc/images/wentuo.png">
        	
			<div class="require">对文艺表演管理有兴趣<br />沟通能力强<br />思维敏捷，有统筹能力<br />1、经理人组：统筹管理表演队，负责表演队日常排练及演出事务<br />2、常务组：部门常务资料整理和更新，表演队评分，相关演出和部门活动的策划<br />3、拓展组：拓展推广表演队，收集整合校内演艺资源，与社联演艺活动有关的对外交流</div></div>
        </div>
        <div class="slide"><div class="container"><div class="title">公共关系部</div>
        	<img src="../../../../PUBLIC/FreshmenSrc/images/gongguan.png">
	        
			<div class="require">责任心强、工作投入<br />思维独到、自信乐观<br />开朗外向、交际能力强<br />1、建立并维持社联与武汉各大高校、社会团体之间的关系<br />2、联络校内各类组织，及时了解校园动态<br />3、负责日常管理并培训华中大社联礼仪队主持人队</div></div>
        </div>
        <div class="slide"><div class="container"><div class="title">社团外联企划部</div>
        	<img src="../../../../PUBLIC/FreshmenSrc/images/waiqi.png">
        	
			<div class="require">积极主动，敢于挑战<br />敢于尝试，有责任心<br />愿意服务于社团协会<br />1、为社团寻求或提供包括师资、活动赞助、长期商业合作在内的各种资源，包括学校社团外联活动的协助与监管<br />2、加强社联与社团之间的联系，利用社联的资源帮助社团发展<br />3、通过社团骨干培训体系，提升部员的整体素质，为社团培养管理型精英人才</div></div>
        </div>
        <div class="slide"><div class="container"><div class="title">外联部</div>
        	<img src="../../../../PUBLIC/FreshmenSrc/images/wailian.png">
	        
			<div class="require">有责任心，工作踏实<br />为人亲和，沟通能力强<br />有较强的组织执行力<br />1、沟通社联与校外企业，为社联活动提供赞助<br />2、与企业沟通并建立长期合作关系，引导社团社联走出校园<br />3、商业品牌的校园宣传与推广，协助举办大型活动</div></div>
        </div>
    </div>
</div>
	
</body>
</html>
