<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="{:U('sortCate')}" method="post">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>级别</th>
            <th>排序</th>
            <th>操作</th>
        </tr>
        <foreach name="cate" item="v">
            <tr>
                <td>{$v.id}</td>
                <td>{$v.html}{$v.name}</td>
                <td>{$v.level}</td>
                <td>
                    <input type="text" name='{$v.id}' value="{$v.sort}"/>
                </td>
                <td>
                    [<a href="{:U('addCate',array('pid'=>$v['id']))}">添加子分类</a> ]
                    [<a href="{:U('editCate',array('id'=>$v['id']))}">修改</a> ]
                    [<a href="{:U('deleteCate',array('id'=>$v['id']))}">删除该分类及其子分类</a> ]
                </td>

            </tr>
        </foreach>
        <tr>
            <td colspan="5" align="center">
                <input type="submit" value="排序"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>