<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>社团网-华中科技大学学生社团联合会</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/NewsSrc/style/new.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/NewsSrc/style/button.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/NewsSrc/style/flexslider.css"/>

    <style>

        .slideimgs {
            height: auto;
            overflow: hidden;
        }

        #flexsliderarea {
            width: 100%;
            height: auto;
        }
    </style>


    <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/NewsSrc/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="__PUBLIC__/NewsSrc/js/jquery.easing.min.js"></script>

    <script>

        $(function () {
            $(".flexslider").flexslider({
                animation: "slide",
                slideshowSpeed: 4000, //展示时间间隔ms
                animationSpeed: 400, //滚动时间ms
                touch: true, //是否支持触屏滑动

            });
        });

        $(document).ready(
                function () {

                    $(".a-top").mouseenter(
                            function (e) {
                                $("#downlist").slideDown("fast");
                            });

                    $("#downlist").mouseenter(
                            function (e) {
                                $("#downlist").slideDown("fast");
                            });


                    $("#downlist").mouseleave(
                            function (e) {
                                $("#downlist").slideUp("fast");
                            });

                });
    </script>
</head>

<body>

<!-- HeadAreaStart -->


<!-- HeadAreaEnd -->
<div class="flexslider" id="flexsliderarea">
    <ul class="slides">
        <li><img src="__PUBLIC__/general/banner.jpg" class="slideimgs"/></li>
        <li><img src="__PUBLIC__/general/banner2.png" class="slideimgs"/></li>
        <!--<li><img src="__PUBLIC__/NewsSrc/imgs/3.jpg" class="slideimgs"/></li>-->
        <!--<li><img src="__PUBLIC__/NewsSrc/imgs/4.jpg" class="slideimgs"/></li>-->

    </ul>
</div>

<div id="wrap">


    <table width="90%" border="0" style="margin:5px auto;">
        <tbody>
        <tr>
            <td height="56" colspan="2" align="center" valign="middle"><p style="color:#74b05c; font-size:30px">Weekly
                News</p></td>
        </tr>


        <tr>
            <td valign="middle">
                <div class="new-small new1">
                  <div class="newsblock_container">
                    <a href="{:U('/Home/NewsDetail/index',array('id'=>$news[0]['id']))}">
                        <p class="new-head1"><span class="first">{$news[0].title|msubstr=###,0,1}</span><?php echo msubstr($news[0]['title'],1,strlen($news[0]['title']));?></p>
                        <p class="new-xiaoxi1">{$news[0].text}</p>
                    </a>
                  </div>
                </div>
            </td>
            <td align="left">
              <div class="newsblock_container">
                <div class="new-small new2">
                    <a href="{:U('/Home/NewsDetail/index',array('id'=>$news[1]['id']))}">
                        <p class="new-head1"><span class="first">{$news[1].title|msubstr=###,0,1}</span><?php echo msubstr($news[1]['title'],1,strlen($news[1]['title']));?></p>
                        <p class="new-xiaoxi1">{$news[1].text}</p>
                    </a>
                </div>
              </div>
            </td>
        </tr>


        <tr>
            <td valign="middle" >
              <div class="newsblock_container">
                <div class="new-small new3">
                    <a href="{:U('/Home/NewsDetail/index',array('id'=>$news[2]['id']))}">
                        <p class="new-head1"><span class="first">{$news[2].title|msubstr=###,0,1}</span><?php echo msubstr($news[2]['title'],1,strlen($news[2]['title']));?></p>
                        <p class="new-xiaoxi1">{$news[2].text}</p>
                    </a>
                </div>
              </div>
            </td>
            <td align="left">
              <div class="newsblock_container">
                <div class="new-small new4">
                    <a href="{:U('/Home/NewsDetail/index',array('id'=>$news[3]['id']))}">
                        <p class="new-head1"><span class="first">{$news[3].title|msubstr=###,0,1}</span><?php echo msubstr($news[3]['title'],1,strlen($news[3]['title']));?></p>
                        <p class="new-xiaoxi1">{$news[3].text }</p>
                    </a>
                </div>
              </div>
            </td>
        </tr>


        </tbody>
    </table>


    <table width="99%" border="0" style="margin:5px auto;">
        <tbody>
        <tr>
            <td height="55" colspan="4" align="center" valign="middle">
                <p style="color:#74b05c; font-size:30px">Things We Do</p>
            </td>
        </tr>
        <tr>
            <td width="24%">
                <div class="button button1">
                    <a class="buttonlink" href="#"></a>
                </div>
            </td>
            <td width="24%">
                <div class="button button2">
                    <a class="buttonlink" href="{:U('/Design/Index/index')}"></a>
                </div>
            </td>
            <td width="24%">
                <div class="button button3">
                    <a class="buttonlink" href="{:U('/Material/Index/index')}"></a>
                </div>
            </td>
            <td width="24%">
                <div class="button button4">
                    <a class="buttonlink" href="{:U('/Grade/Index/index')}"></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


</div>

</body>
</html>