<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>报名</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css"/>

<style type="text/css">
body{
    margin:0px;
    font-family: "微软雅黑";
    background:url('__PUBLIC__/FreshmenSrc/images/background.jpg'); background-repeat: no-repeat; background-attachment: fixed;background-size:100% 100%;
    background-size:100% 100%;
}
    .form-control {
        background-color: rgba(255,255,255,0.3);
    }
</style>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2"><h2>加入社联</h2></div>
    </div>

   <form class="form-horizontal" id="form-signup" method="post" role="form" action="{:U('Freshmen/Signup/add')}">
       <div class="form-group">
           <div class="col-xs-10 col-xs-offset-2">
               标注*号的为必填
           </div>
       </div>

       <div class="form-group"><label for="" class="col-sm-2 control-label">*姓名</label>
           <div class="col-sm-10"><input required="required" name="name" id="name" type="text" class="form-control"></div>
       </div>

       <div class="form-group">
           <label for="" class="col-sm-2 control-label">*性别</label>
           <div class="col-sm-10">
               <select name="sex" class="form-control">
                   <option value="男">男</option>
                   <option value="女">女</option>
               </select>
           </div>
       </div>

       <div class="form-group"><label for="" class="col-sm-2 control-label">学号</label>
           <div class="col-sm-10"><input name="uid" id="uid" type="text" class="form-control"></div>
       </div>

       <div class="form-group"><label for="" class="col-sm-2 control-label">*专业班级</label>
           <div class="col-sm-10"><input name="class" required="required" type="text" class="form-control" /></div>
       </div>

       <div class="form-group"><label for="" class="col-sm-2 control-label">*寝室地址</label>
           <div class="col-sm-10"><input name="dorm" required="required" type="text" class="form-control" /></div>
       </div>

       <div class="form-group"><label for="" class="col-sm-2 control-label">*联系电话</label>
           <div class="col-sm-10"><input required="required" name="tel" id="tel" type="text" class="form-control"></div>
       </div>

       <div class="form-group"><label for="" class="col-sm-2 control-label">QQ号码</label>
           <div class="col-sm-10"><input name="qq" id="qq" type="text" class="form-control"/></div>
       </div>

       <!--div.form-group>label.col-sm-2.control-label+div.col-sm-10-->

       <!--div.form-group>label.col-sm-2.control-label+div.col-sm-10-->

       <!--div.form-group>label.col-sm-2.control-label+div.col-sm-10-->



    <div class="form-group">
        <label for="" class="col-sm-2 control-label">*第一志愿</label>
        <div class="col-sm-10">
            <select required="required" name="depart1" class="form-control">
                <option value="" selected>请选择</option>
                <option value="秘书部">秘书部</option>
                <option value="财务部">财务部</option>
                <option value="人力资源部">人力资源部</option>
                <option value="外事信息部">外事信息部</option>
                <option value="社团部">社团部</option>
                <option value="行政监察部">行政监察部</option>
                <option value="宣传部">宣传部</option>
                <option value="DD·Studio（DD摄制组）">DD·Studio（DD摄制组）</option>
                <option value="DD·Studio（DD新媒体小组）">DD·Studio（DD新媒体小组）</option>
                <option value="AU项目团队">AU项目团队</option>
            </select>
        </div>

    </div>

    <div class="form-group">
        <label for="" class="col-sm-2 control-label">*第二志愿</label>
        <div class="col-sm-10">
            <select required="required" name="depart2" class="form-control">
                <option value="" selected>请选择</option>
                <option value="秘书部">秘书部</option>
                <option value="财务部">财务部</option>
                <option value="人力资源部">人力资源部</option>
                <option value="外事信息部">外事信息部</option>
                <option value="社团部">社团部</option>
                <option value="行政监察部">行政监察部</option>
                <option value="宣传部">宣传部</option>
                <option value="DD·Studio（DD摄制组）">DD·Studio（DD摄制组）</option>
                <option value="DD·Studio（DD新媒体小组）">DD·Studio（DD新媒体小组）</option>
                <option value="AU项目团队">AU项目团队</option>
            </select>
        </div>
    </div>

    <div class="form-group">
          <label for="" class="col-sm-2 control-label">*是否服从调剂</label>
          <div class="col-sm-7">
              <select name="concede" class="form-control">
                <option value="是" selected>是</option>
                <option value="否">否</option>
              </select>
          </div>
    </div>


    <div class="form-group">
        <label for="" class="col-sm-2 control-label">*自我介绍</label>
        <div class="col-sm-10"><textarea name="introduction" class="form-control" required="required" cols="50" rows="3"></textarea></div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">*对社联的期望</label>
        <div class="col-sm-10"><textarea name="expectation" class="form-control" required="required" cols="50" rows="3"></textarea></div>
    </div>

    <button type="button" class="btn btn-success  btn-lg" onclick="check_all()" style="width: 100px; margin: 10px auto; display: block;">提交信息</button>
   </form>

    <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
    <!--<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>-->
    <script type="text/javascript">
        function check_all()
        {
            var complete=true;
            $("[required='required']").each(
                    function(){ console.log($(this).val());
                        if($(this).val()==""){
                            complete=false;

                        }
                    }
            );
            if(!complete){
                alert("表格信息未填完整");
            }
            else{
                if($("[name='depart1']").val()==$("[name='depart2']").val())
                {
                    alert("第一志愿和第二志愿请填写不同部门");
                }
                else{
                    $("#form-signup").submit();
                }
            }
        };
    </script>
</div>
</body>
</html>
