<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>报名信息修改</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
   <style type="text/css">
       body{
           margin:0px;
           font-family: "微软雅黑";
           background:url(__PUBLIC__/FreshmenSrc/images/background.jpg); background-repeat: no-repeat; background-attachment: fixed;background-size:100% 100%;
           background-size:100% 100%;
       }
       .form-control {
           background-color: rgba(255,255,255,0.3);
       }
.container{
	margin:15% auto auto 10%;
	padding:30px;
	width:80%;
	height:800px;
	float:left;
	font-size:24px;
	color:#000;
}
</style>
</head>
<body>
<div class="container">
    <h1 style="text-align: center">修改报名信息</h1>
    <br>
        <form class="bs-example bs-example-form" role="form" method="post" action="{:U('Freshmen/Signup/modify')}">
            <div class="input-group col-xs-12">
                <span class="input-group-addon">姓名</span>
                <input required="required" name="name" id="name" type="text" class="form-control">
            </div>
            </br>
            <div class="input-group">
                <span class="input-group-addon">电话号码</span>
                <input name="tel" id="tel" type="text" value="" class="form-control">
            </div>
            <button type="submit" class="btn btn-success btn-lg" style="width: 100px; margin: 10px auto; display: block;">进行修改</button>
        </form>
</div>



</body>
</html>
