<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
 <head>
  <title>委任申请</title>
  <meta charset="utf-8" />
  <style>
	*{font-family:"Microsoft YaHei";}
	  html,body,p,a,div,img,table{margin:0;padding:0;width:100%;}
	  p,a{font-size:36px;text-decoration:none;}
	  a{cursor:pointer;}
	  .download{
		width:100%;
		height:75px;
		float:right;
	  }
	  .main{
		width:100%;
		float:right;
	  }
  </style>
 </head>

 <body>
  <div class="download">
	<p>下载：</p>
  </div>
  <div class="main"></div>
 </body>
</html>