<!DOCTYPE html>
<html>
<head>
  <link rel=stylesheet type=text/css href="__PUBLIC__/DesignSrc/style/design_notice.css" />
	<meta http-equiv="content-type" content="tetx/html; charset=UTF-8">
	<title>委任须知</title>
</head>
<body>
	<div>
		<p class="title">一、委任类型</p>
			
			<p class="parts">宣传部：</p>
     		<p> A.海报.海喷：活动的时间，活动的地点，所需的相关宣传语，主题协会全名，二维码，社团logo，所需要的风格要求等。<br />
    			B.Logo设计：logo所需体现的内涵，logo风格等。<br />
     			C.文化衫设计：文化衫上所需添加的信息，图案等。<br />
     			D.网页的设计：网页框架等。<br />
     			E.活动相关物资设计：活动主题，物资类型，物资规格，所要求的风格等。<br />
     			F.其他设计视相应的情况确定所需信息。
     		</p>
     		<p></p>
     		<p class="parts">媒体部：</p>
       		<p> A.社团活动前期宣传视频：活动相关图片、文字、宣传标语、背景音乐、录音等。（视频限时3分钟内）<br />
        		B.社团活动摄影记录：媒体部出人与设备一同前往参与社团活动，记录活动过程，由传媒中心进行图文匹配后通过新媒体进行活动总结推送。<br />
			</p>

			<p class="parts">新媒体工作室：</p>
       			<p>协助社团活动宣传：</p>
        	<p> A.社团自身可提供完整的图文宣传稿利用新媒体现有平台进行帮推；<br />
        		B.社团可仅提供宣传初稿和活动相关图片的大概图文策划，由新媒体工作室进行加工修改。
        	</p>
        	<p></p>
        	<p class="notice">说明：</p>
        	<p>
           １.社团通过参与“社团成长记”活动所获得的传媒委任优先名额可对传媒中心任一部门使用,名额限定次数，将登记在案。如若有名额的社团在某次委任需要使用一次名额，则请在申请表委任时间中加注“使用传媒委任优先名额”。并且，使用名额的社团将可得到优先权，否则，各工作室将根据“先来后到”的原则安排工作。</p>
	         <p>
	          ２.社团需要传媒中心某部门进行相关宣传工作时，请根据委任类型提前提交申请，以便于传媒中心各部门安排相关工作。
          	</p>
          	<p>
          ３.传媒中心各部门的大致工作安排将于社团网或者微信公众平台进行公示，请各会长根据各工作室的排班，合理安排委任时间，以免造成委托任务时间上的冲突。
          	</p>
          	<p>
          ４.各部门将在各会长的同意下加上各自下属工作室的LOGO和名称。如：海报上在会长同意下加上社联宣传部下属季风工作室的logo和“海报制作：季风工作室”的字样；媒体部制作的视频在会长同意下在最后添加社联媒体部下属逆光工作室的logo和“视频制作：逆光工作室”的字样。
          	</p>
          	<p>
          ５.传媒中心各部门仅提供原稿，其余一切宣传流程和费用由社团来完成。如：宣传部提供设计稿，打印制作等流程和相关费用由社团来完成。
          	</p>
          	<p>
          ６.由于人力有限，媒体部所做的宣传视频仅限于图片和音乐结合的类型，不参与视频的拍摄工作，同时，宣传视频仅限于两分钟之内。
          	</p>
          	<p>
          ７.各部门在一定时期接收的委任能力有限，一般通过“先来后到”原则接受委任申请，若任务已满，将不再接受委任。使用由传媒中心委任优先名额的委任除外。
          	</p>
          	<p>
          ８.具体委任要求详情欢迎各会长事先或者事后进行私聊进行更好的讨论和合作，但不支持私聊而来的任务，委托只有唯一的形式，即是通过申请表来进行委托。
            </p>
		<p class="title">二、委任周期</p>
			<p class="notice">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由于不同类型的委任，所需的设计制作周期不同。为保证委任工作顺利进行，请各社团根据委任类型提前对应的时间提交申请。</p>
         	<p class="parts">宣传部：</p>
         	<p>A.海报、彩喷等，请至少提前两周的时间。</p>
           	<p>B.文化衫设计请至少提前20天。</p>
           	<p>C.Logo设计与网页设计，请至少提前一个月的时间。</p>
           	<p>D.活动物资设计等产品设计，种类在两种至三种的请提前至少三周的时间；种类在四种以及四种以上的请提前至少四周的时间。</p>
         	<p class="parts">媒体部：</p>
         	<p>A.社团活动前期宣传视频制作请至少提前三周时间。</p>
           	<p>B.社团活动摄影记录请至少提前一周时间。</p>
            <p class="parts">新媒体工作室：</p>
           	<p>A.新媒体所管理的社联微信公众号在每周周一时期推送每周的活动预告，此为所有社团活动的预告总和。</p>
           	<p>B.需要单独推送的社团，自身准备好完整图文推送稿的社团请提前三天的时间提交表格。</p>
           	<p>C.需要新媒体来帮忙策划宣传推送的社团，请提前两周的时间提交表格。</p>
		<p class="title">三、委任流程</p>
			<p>由于社团网传媒委任板块仍在进行建设中。未能进行社团网网上申请前，社团请从社团网或者微信公众平台上下载相关表格进行填写。请各社团参照委任申请说明仔细填写表格，整理好相关信息，请提前一定时间发送到相关部门的公众邮箱，邮件格式为“协会名称-委任部门-委任时间”。</p>    
           <p>
           宣传部公共邮箱：<a href="mailto:xuanchuan@auhust.net">xuanchuan@auhust.net</a>
           </p>
           <p>
           媒体部公共邮箱：<a href="mailto:meiti@auhust.net">meiti@auhust.net</a>
           </p>
           <p>
           新媒体工作室公共邮箱：<a href="mailto:auweizai@auhust.net">auweizai@auhust.net</a>
           </p>
           <p>
           部门在接受到邮件后将第一时间回复短信，具体任务详情将由该任务负责人与各社团相关联系人进行联系。
           </p>
           <p>
           当社团网传媒委任板块建设完成后，社团请从社团传媒委任申请板块处直接填写申请表，在线提交申请以及上传相关附件。届时，传媒中心将于微信平台推送社团网投入使用通知。若给各社团带来不便，敬请谅解。</p>
	</div>
</body>
</html>