	body{ font-family: "Microsoft YaHei" ! important; margin:0 0;padding: 0 0;} 
	.top{position: relative;
		top:-10px;		
		margin: 0 0;
		border:0;
		text-align: center;
		color: #fff;
		font-size:50px;
		line-height:100px; 
		z-index: 7;
		font-weight: 300;
		}
	nav{	
		position: absolute;
		top:150px;
		left:50px;
		}
	nav a{
		text-decoration: none;
		color:#000;
	}
	nav div[class="appoint"]:hover{
		background: #74b05c;
		color:#fff;
	}
	nav div[class="appoint"],nav div[class="public"],nav div[class="media"],nav div[class="newMedia"]{
		border-radius: 5px;	
		font-weight: 550;
		line-height: 30px;
		border:1px solid #c4b19b; 
		/*margin:8px 0;*/
		padding-left:10px; 
		width:150px;		
	}
	nav div[class="appoint"],nav div[class="media"]{margin:8px 0;}
	nav div[class="public"]{background: #f4ccad;}
	nav div[class="media"]{background: #91e1bf;	}
	nav div[class="newMedia"]{background: #dda3f4;	}
	.apartments{
		display: none;
	}
	#active{
		background: #74b05c;
		color:#fff;
	}
	.top img{position: absolute;
		left:10%;
		top: 18px;
		height: 160px;
		vertical-align: middle;
		margin: 0 0;
		padding: 0 0;
		}
	.top h1{
		margin: 5px 0;
		padding: 0 0;
	}
	.footer{	
		position:relative;
		bottom:-20px;
		text-align: center;
		color: #fff;
		font-weight: 100;
		vertical-align: middle;
		}
	.top,.footer{background:#74b05c;
		width:100%;
		margin:0 0;
		padding:0 0;
		border:0;
		left:0;}
	.content{
		/*position: absolute;
		left:300px;
		top:100px;*/
		margin-left:300px;
		margin-right:0px;
		margin-top:50px;
		margin-bottom:30px;
	}