<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>资源申请系统</title>
    <style>
        * {
            font-family: "微软雅黑";
        }
    </style>
</head>
<body>
<div class="container" style="overflow: hidden">
    <div data-role="SlideMenu" class="Slidelist">
        <div class="row SlideMenu-ShowOnlyAtSmallScreen" style="padding-left: 15px; overflow: hidden">
            <h4 style="float: left">资源申请系统</h4>
            <span class="btn btn-default btn-sm" style="float: right; margin-right: 10px;" data-role="SlideMenuHide">返回</span>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">物资借用</h3>
            </div>
            <div class="panel-body">
                物资借用
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">场地借用</h3>
            </div>
            <div class="panel-body">
                场地借用
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">状态查询</h3>
            </div>
            <div class="panel-body">
                状态查询
            </div>
        </div>
    </div>
    <div data-role="MainContent" class="TableArea">
        正文
    </div>

</div>
</body>
</html>