<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/DatetimePicker/bootstrap-datetimepicker.css">
</head>
<body>
<ol class="breadcrumb">
    <li><h4>申请状态查询</h4></li>
</ol>

<!--模态框区域-->
<div class="modal fade" id="modalPreview" tabindex="-1" role="dialog" style="border-radius: 0px">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalPreview-Title">查看申请</h4>
            </div>

            <div class="modal-body">
                <!--表格主体-->
                <div class="row table-responsive" id="modalPreview-TableContainer" style="padding: 5px 15px">
                    <div style='width: 100px; height: 100px; border-radius: 50px; border: solid 5px #505050; line-height: 80px; font-size: 56px; text-align: center;display: inline-block'>!</div><h2>Oops，好像出了一些问题</h2><h4>暂时无法加载，可能是网络原因，请检查你的网络连接</h4><h4>你可以稍后再试，或者联系思存工作室</h4>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalCancel" tabindex="-1" role="dialog" style="border-radius: 0px">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalRecall-Title">撤销申请</h4>
            </div>

            <div class="modal-body">
                <div>
                    <div>你确定要撤销这条申请吗？</div>
                    <div>序号：<strong><span id="modalCancel-id"></span></strong></div>
                    <div>申请类型：<strong><span id="modalCancel-type"></span></strong></div>
                    <div>申请时间：<strong><span id="modalCancel-time"></span></strong></div>
                    <div>申请仅可在未打印前撤销</div>
                    <div>撤销后，你、审批者都无法看到此条申请，也无法恢复</div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-danger btn-modal-cancel">确认撤销</button>
                <form action="{:U('Material/Material/apply_cancel')}" method="post">
                    <input type="hidden" name="id" id="modalCancel-input-id"><input type="hidden" name="type" id="modalCancel-input-type">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" style="overflow: auto">
    <div style="margin: 10px auto; width: 400px">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="javascript:void(0)" data-toggle="pill" class="switchTab" data-tabtype="审批中">审批中 <span class="badge" id="TobeApproveNum">0</span></a></li>
            <li role="presentation"><a href="javascript:void(0)" data-toggle="pill" class="switchTab" data-tabtype="已通过">已通过</a></li>
            <li role="presentation"><a href="javascript:void(0)" data-toggle="pill" class="switchTab" data-tabtype="未通过">未通过</a></li>
            <li role="presentation"><a href="javascript:void(0)" data-toggle="pill" class="switchTab" data-tabtype="已审批">已审批</a></li>
            <li role="presentation"><a href="javascript:void(0)" data-toggle="pill" class="switchTab" data-tabtype="所有">所有</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <div class="col-xs-5"><label for="" class="control-label">申请类型</label></div>
        <div class="col-xs-7">
            <select name="" id="filter-type" class="form-control" style="width: 150px;">
                <option value="ALL" selected>所有</option>
                <option value="materialapply">物资申请</option>
                <option value="colorprinting">彩喷悬挂</option>
                <option value="east4">东四三楼</option>
                <option value="sports">体育场馆</option>
                <option value="special">特殊场地</option>
                <option value="teachingbuilding">教学楼教室</option>
                <option value="outdoor">路演场地</option>
                <option value="sacenter">大活教室</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="col-xs-5"><label for="" class="control-label">申请时间</label></div>
        <div class="col-xs-7">
            <div class="input-group" style="width: 150px;">
                <input size="16" type="text" value="" id="filter-date" readonly class="form-control form_datetime1">
    <span class="input-group-btn">
        <button class="btn btn-default date-clear"><i class="glyphicon glyphicon-remove"></i></button>
    </span>
            </div>
        </div>
    </div>
</div>
<p></p>
<div class="table-responsive">
    <table class="table-bordered table table-hover" width="750px">
        <tr>
            <th width="30px">序号</th>
            <th width="130px">提交时间</th>
            <th width="110px">种类</th>
            <th width="70px">审核结果</th>
            <th width="110px">审核进度</th>
            <th width="130px">审批时间</th>
            <th width="100px">审核意见</th>
            <th width="100px">操作</th>
        </tr>

        <foreach name="list" item="v" key="lm">
            <foreach name="v[1]" item="u">
                <tr class="list-container" valign="middle" data-action-type="{$v[2]}" data-approvestate="{$u.approvestate}" data-createtime="{$u.createtime}">

                    <td>{$i=$i+1}</td>
                    <td class="list-apply-time">{$u.createtime}</tdlist-apply-name>
                    <td class="list-apply-name">{$v[0]}</td>
                    <td><span data-approvestate="{$u.approvestate}">{$u.approvestate}</span></td>
                    <td>
                        <if condition="($u.approvestate eq 审批中) AND ($u.approveprint eq 0)">初审中</if>
                        <if condition="($u.approvestate eq 审批中) AND ($u.approveprint eq 1)">初审通过</if>
                        <if condition="($u.approvestate eq 已通过) AND ($u.approveprint eq 1)">审批通过，请取表</if>
                        <if condition="$u.approvestate eq 未通过">审批未通过</if>
                    </td>
                    <!--<td><a href="{:U('Material/Download/' . $lm,array('id'=>$u['id']))}">下载</a></td>-->
                    <td>{$u.approvetime}</td>
                    <td>{$u.approvenote}</td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm btn-preview" data-toggle="modal" data-target="#modalPreview" data-action-type="{$v[2]}"  data-id="{$u.id}">查看</button>
                        <if condition="($u.approvestate eq 审批中) AND ($u.approveprint eq 0)">

                            <button type="button" class="btn btn-warning btn-sm btn-cancel" data-toggle="modal" data-target="#modalCancel" data-action-type="{$v[2]}"  data-id="{$u.id}" data-no="{$i}">撤销</button>
                        </if>

                    </td>
                </tr>
            </foreach>
        </foreach>
    </table>
</div>
<!--<script src="__PUBLIC__/MaterialSrc/js/admin_table.js"></script>-->
<script src="__PUBLIC__/MaterialSrc/js/switch_tab.js"></script>
<script src="__PUBLIC__/MaterialSrc/js/apply_state.js"></script>
<script src="__PUBLIC__/DatetimePicker/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script src="__PUBLIC__/DatetimePicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script>
    $(".form_datetime1").datetimepicker({
        weekStart: 1,
        language: "zh-CN",
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: true,
        startView: 2,
        minView: 2,
        forceParse: 0,
        format: "yyyy-mm-dd"
    });
</script>

</body>
</html>