<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
</head>
<body>
<ol class="breadcrumb">
    <li><h4>社团活动场地及物资申请流程</h4></li>
</ol>
<p>为规范社团场地申请制度，以便社团更加有效地完成场地申请，特制定本流程。</p>
<p><h4>一、目前校内已注册社团可以通过学生社团联合会申请使用的资源有:</h4></p>
<table class="table-bordered" width="662">
    <tr>
        <td width="84" rowspan="6"><strong>场地资源</strong></td>
        <td width="578">
            <p>大学生活动中心教室：普通教室：302、303、304、603（50人）</p>
            <p>多媒体教室：305、513（300人）</p>
        </td>
    </tr>
    <tr>
        <td width="578"><p>普通教学楼教室（院系名称处填写<strong>社团名称</strong>，工作日白天不外借）</p></td>
    </tr>
    <tr>
        <td width="578"><p>大型活动场地：东四食堂三楼</p></td>
    </tr>
    <tr>
        <td width="578"><p>户外路演场地：韵苑路口、紫菘路口、沁苑路口</p></td>
    </tr>
    <tr>
        <td width="578"><p>彩喷悬挂：韵苑五栋、紫菘路口、沁苑路口、篮球场、韵苑食堂等</p> </td>
    </tr>
    <tr>
        <td width="578"><p>体育场馆：韵苑体育馆</p> </td>
    </tr>
    <tr>
        <td width="84" rowspan="4"><p align="center"><strong>物品及其他资源</strong></p></td>
        <td width="578"><p>投影仪</p> </td>
    </tr>
    <tr>
        <td width="578">
            <p>用电：仅韵苑路口可凭表格进行电力借用，<strong>瓦数超过2000w须要到主校区配电房签字</strong>；</p>
            <p>沁苑路口借电可咨询沁苑九栋楼管，紫菘路口借电可与路口商家协商，均无需填表。</p>
        </td>
    </tr>
    <tr>
        <td width="578">
            <p>桌椅：此处桌椅指家具厂的桌椅，需要大批量使用时借用，韵苑体育馆的桌椅不属于此范畴。</p> </td>
    </tr>
    <tr>
        <td width="578"><p>校车：此处指家具厂用来运送桌椅的校用卡车，一般与桌椅搭配借用。</p> </td>
    </tr>
</table>
<h4>二、申请流程：</h4>
<h5><strong>(一)	场地查询（可选）</strong></h5>
<p>进行大活教室、东四三楼、韵体借用前可先查询教室是否空闲。查询方式：登录学工处网站 <a href="http://student.hust.edu.cn" target="_blank">student.hust.edu.cn</a> ，点击右上方“办公服务”-“场地租赁”，匿名进入系统进行教室查询。</p>
<h5><strong>(二)	表格提交（三选一）</strong></h5>
<p>1.于华中大会长联合群群共享下载表格 → 填写相应表格 → 将表格 <a href="mailto:shetuan@auhust.net">发送至社团部公邮</a> 。 （shetuan@auhust.net）。</p>
<p>2.于大学生活动中心B座413社团部办公桌处填写表格。</p>
<p>3.通过社团网·物资申请系统填写提交</p>
<p>注意：</p>
<p>1.表格提交必须<strong>提前三个工作日及以上</strong>，以免出现特殊情况导致无法及时批表。</p>
<p>2.社团部值班时间：工作日下午七八节课。</p>
<p>3.每天12:00以前提交的表格当天审批，12:00以后的表格隔天审批。</p>
<p>4.社团借用的物资一定要及时归还。</p>
<p>5.对于表格提交后无故未取用、取用后无故不使用以及使用用途与申请表严重不符的，借用物资严重超时未归还的情况，将酌情不予资源外借。</p>
<p>6.每个社团的有效借用人只有一名，默认为会长。</p>

<h5><strong>(三)	表格审批</strong></h5>
<p>社团部审批 → 团委审批 → （审批通过）通知协会取表。</p>
<p> → （审批未通过）通知协会表格问题。</p>

<h5><strong>(四)	领取表格</strong></h5>
<p>接到通知后，及时到大学生活动中心B栋413社团部办公桌上领取表格，在场地/物资借用登记表上签字后，方可将表格取走。</p>
<h5><strong>(五)	后续流程</strong></h5>
<p>社团从大学生活动中心B413取走表格之后，对于以下几种表格还需要做以下后续流程：</p>
<p>1.大学生活动中心教室：</p>
<p style="margin-left: 5px;">305/513/603教室申请：凭表格在大学生活动中心A座402学工处预约领取批条后，在工作日凭表格在大学生活动中心A座402学工处领取钥匙；若于非工作日使用教室须在大学生活动中心保安处领取钥匙。</p>
<p style="margin-left: 5px;"302/303/304教室申请：凭表格在大学生活动中心A座402学工处领取钥匙；若于非工作日使用教室须在大学生活动中心保安处领取钥匙。</p>
<p>2.普通教学楼教室：提前至少一个工作日凭表格及策划于南三楼307教务处进行预约并领取批条。</p>
<p>3.户外场地：申请韵苑路口于工作日持表格到东校区保卫二科处（靠近东小门处）盖章；申请紫菘、沁苑路口于工作日持表格到主校区保卫科（靠近大学生活动中心A栋）盖章。</p>
<p>4.东四食堂三楼：在工作日将表格拿至大学生活动中心A座402学工处预约。</p>
<p>5.体育场馆：韵苑体育馆凭表格到光谷体育馆体育场馆中心预约，在保卫二科进行备案，并联系韵苑工作人员领取钥匙。如果需要音控需要提前与团委音控班沟通。</p>
<p>6.彩喷悬挂：</p>
<p style="margin-left: 5px;">韵苑五栋凭表格到宿舍管理中心盖章；</p>
<p style="margin-left: 5px;">沁苑、紫菘路口等空地凭表格到主校区保卫科（靠近大学生活动中心A栋）盖章；</p>
<p style="margin-left: 5px;">篮球场凭表格到光谷体育馆盖章；</p>
<p style="margin-left: 5px;">韵苑食堂凭表格到饮食总公司（靠近集贤楼）盖章。</p>
<p>7.投影仪借用：在工作日凭申请表到团委助理处领取，如在非工作日使用必须提前领取。</p>
<p>8.电力借用：韵苑路口借电凭表格到东操配电房处借电。</p>
<p>9.大量桌椅借用：凭申请表到家具厂领取。</p>
<p>10.校车借用：所申请的校车仅供搬运家具厂大量桌椅，凭申请表到校车管理办公室（管院背后）或拨打电话027-87543759进行预约。</p>

<p>为了保证资源的有序使用，审批过程的高效执行，使社团的活动顺利进行，请各位会长在填写申请表格时提供详细的活动信息，认真填写申请表格，遵守表格审批流程。社联也将尽量为社团争取到需要使用的资源，在批表流程上不断改进完善，以更好的服务社团。感谢您的配合。
</p>
</body>
</html>