<!DOCTYPE html>
<html>

<body>
<div>
    <table class="table">
        <caption align="top">资料列表</caption>
        <tr>
            <th>文件名</th>
            <th>上传时间</th>
            <th>操作</th>
            <th <if condition="$_SESSION['username'] eq C('RBAC_SUPERADMIN')"><else/>hidden="hidden"</if>>上传用户</th>
        </tr>
        <foreach name="doc" item="v">
            <tr>
                <td>{$v.remark}</td>
                <td>{$v.time|date='y-m-d H:i',###}</td>
                <td>
                    <a href="{:U('Download/download_index',array('id'=>$v['id']))}">下载</a>
                </td>
                <td>
                    <a href="{:U('remove',array('id'=>$v['id']))}">删除</a>
                </td>
                <td<if condition="$_SESSION['username'] eq C('RBAC_SUPERADMIN')"><else/>hidden="hidden"</if>>
                {$v.user}
                </td>
            </tr>
        </foreach>
    </table>
</div>


</body>
</html>