.down{width:80px;background:#747474;display:block;position:fixed;right:14px;top:-110px;/*display:none;*/transition: all 0.5s}
.down a,.down p{display:block;line-height:30px;text-align:center;color:#FDFDFD;font-size:16px;}
.down:first-child{padding-top:20px}
.down p{line-height:20px}.down{display:block;z-index:7;background:rgba(2,26,22,0.3);}
.down a:hover {background:rgba(2,26,22,0.6); text-decoration: none; color: #fff;}
.down.showed {position:fixed;right:14px;top:0px;}