body{background:url(../images/index-background.jpg) no-repeat fixed center;
	}
.title{text-align:center;position:relative;top:180px;}
.letter{width:1250px}
.pet{width:150px; display:block}
.chose{position:relative;top:240px;text-align:center}
img{padding:auto auto;margin:auto auto;}
.link{border-radius:15px 15px 15px 15px;box-shadow:0 0 10px rgba(255,255,255,.5) inset;border:solid;border-color:#356462; border-width:thick; font-size:45px;position:relative;bottom:5px; color:#356462; font-weight:bold;}
a{text-decoration:none;color:#356462}
a:hover{text-decoration:none;color:#a6cb3d}
p{position:relative;text-align:center;bottom:0}
