body{ background:url(../images/background.jpg); background-repeat: no-repeat; background-attachment: fixed;background-size:100% 100%; font-family:Microsoft YaHei; font-size:16px;}
.col-xs-4{padding:auto auto; margin:auto auto}
.row{position:relative;top:40px;text-align:center}
a{text-decoration:none;color:#000;font-weight:bolder}
a:hover{text-decoration:none;color:#a6cb3d}