body{background:url(../images/background.jpg)  no-repeat /*fixed center*/;background-size:100% 100%;font-family:Microsoft YaHei; }
.title{font-size:50px;font-weight:bolder;position:relative;top:0;/*left:200px;*//*display:inline;*/}
.require,.figure{line-height:33px;font-size:18px;/*font-weight:bold*/;display:block;border:5px red;border-bottom:dotted 2px;
				/*position:relative;top:-50px;left:50%;*/width:100%;/*position:absolute;left:200px;*/
}
.slide{position:relative;text-align:center;width:500px}
.container{width:100%}
img{/*position:relative;width:150px;left:15%*/width:200px;position:relative ;/*right:200px;top:0px;*/}
a{text-decoration:none}
a:hover{text-decoration:none}
.slide{margin:0 auto}
/*table{vertical-align:middle;margin:0px auto; }
td{padding:0 200px;vertical-align:middle;}*/
.leave{position:fixed;right:32px;top:32px;z-index:2;}
a{text-decoration:none}
a:hover{text-decoration:none}
.leave span{border-radius:15px 15px 15px 15px;font-size:32px;border:solid 5px #eb6877;font-weight:bolder;color:#fff;background:#eb6877;line-height:50px;}

button{visibility:hidden;position:absolute}
.icon-bar{display:block;background:#356462;height:4px;width:12px;margin:2px;border-radius:15px 15px 15px 15px;}

@media all and (max-width:736px) {

	.leave{display:none}
	button{visibility:visible;border-radius:5px 5px 5px 5px;width:32px;text-align:center;margin:20px 20px}
	img{width:100px;position:relative;top:80px;filter:alpha(opacity=30);
-moz-opacity:0.3;
-khtml-opacity: 0.3;
opacity: 0.3;}
	.title{font-size:25px;font-weight:bolder;position:relative;top:40px;/*left:200px;*/;/*display:inline*/}
	.require,.figure{line-height:28px;font-size:14px;position:relative;bottom:40px/*font-weight:bold*/;display:block;border:5px red;border-bottom:dotted 2px;/*background:rgba(2,26,22,0.2);*/text-align:center;/*font-weight:600; */
				/*position:relative;top:-50px;left:50%;*/width:70%;/*position:absolute;left:200px;*/margin:0 auto
}
	ul{display:none}
	 }
@media all and (max-width:330px) {
	.require,.figure{width:66%;line-height:27px;}
	
	}