body{background:url(../images/background.jpg)  no-repeat fixed center;background-size:100%;font-family:Microsoft YaHei}
.title{font-size:50px;font-weight:bolder;/*position:relative;top:-60px;left:600px;;display:inline*/}
.require,.figure{line-height:33px;font-size:18px;/*font-weight:bold*/;display:block;border:5px red;border-bottom:dotted 2px;
				/*position:relative;top:-50px;left:50%;*/width:100%;position:relative;right:20px;
}
img{/*position:relative;width:150px;left:15%*/width:200px;}
.leave{position:fixed;right:220px;top:32px;z-index:2;}
a{text-decoration:none}
a:hover{text-decoration:none}
.leave span{border-radius:15px 15px 15px 15px;font-size:40px;border:solid 5px #eb6877;font-weight:bolder;color:#fff;background:#eb6877;line-height:50px;}
.slide{margin:0 auto}
table{vertical-align:middle;margin:0px auto; }
td{padding:0 200px;vertical-align:middle;}


