<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>春招报名系统</title>

<link rel="stylesheet" type="text/css" href="../../../../PUBLIC/FreshmenSrc/style/bootstrap.min.css"/>
<script type="text/javascript" src="../../../../PUBLIC/FreshmenSrc/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="../../../../Public/FreshmenSrc/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../PUBLIC/FreshmenSrc/style/index-index.css"/>
</head>
<body>

<div class="title">
    <img src="../../../../PUBLIC/FreshmenSrc/images/title.png" class="letter">
</div>
<div class="container">
	<div class="row chose">
    <div class="col-md-4 module">
        <img src="../../../../PUBLIC/FreshmenSrc/images/aupet.png" class="pet">
        <span class="link" name="ss"><a href="../Introduction/index.html">部门简介</a></span>
    </div>
    <div class="col-md-4 module">
        <img src="../../../../PUBLIC/FreshmenSrc/images/aupet.png" class="pet">
        <span class="link"><a href="../Signup/submit.html">我要报名</a></span>
    </div>
    <div class="col-md-4 module">
        <img src="../../../../PUBLIC/FreshmenSrc/images/aupet.png" class="pet">
        <span class="link"><a href="..Signup/modify.html">信息修改</a></span>
    </div>
    </div>
</div>

    
</body>
</html>