<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>公告栏</title>
 <script>
  $(document).ready(
	   function() {
		 
		   $(".a-top").mouseenter(
		   function(e) {
            $("#downlist").slideDown("fast");	
        });
		
		$("#downlist").mouseenter(
		   function(e) {
            $("#downlist").slideDown("fast");	
        });
		
	
		
		$("#downlist").mouseleave(
		   function(e) {
            $("#downlist").slideUp("fast");	
        });
		
    });
 </script>
 <style>
 .slidebarlink{
	 padding:12px 12px;
	 font-size:22px;
	 margin:15px;
	 display:block;
	 color:#444e41;
	 transition:.2s;
	 border-radius:3px;
	 
	 }
	 
.slidebarlink:hover{
	color:#FFFFFF;
	background-color:#74b05c;
}
.now{color:#FFFFFF;
	background-color:#74b05c;}
	.boardtext{
		font-size:18px;
		color:#74b05c;}
 </style>
 
</head>

<body>


<!-- HeadAreaStart -->

 <!-- HeadAreaEnd -->
 
 <div id="wrap">
 <table width="99%" border="0" style="margin:25px 0px">
  <tbody>
    <tr>
      <td height="59" colspan="2" align="left" valign="middle" style="color:#444e41"><span style="font-size:34px">&nbsp;&nbsp;&nbsp;&nbsp;新闻&nbsp;&nbsp;</span><span style="font-size:24px">&gt;&gt;&nbsp;&nbsp;公告栏</span></td>
      </tr>
    <tr>
      <td width="27%" height="585" valign="top">
      <p><a href="{:U('/Home/News/Index')}" class="slidebarlink">&gt;最新动态</a></p>
      <p><a href="{:U('/Home/Activity/Index')}" class="slidebarlink">&gt;活动预告</a></p>
      <p><a href="{:U('/Home/BroadCast/Index')}" class="slidebarlink now">▶&nbsp;公告栏</a></p>
      </td>
      <td width="79%" align="center" valign="top"><div><img src="__PUBLIC__/NewsSrc/image/GGL.png" width="746" height="122" alt="" style="margin:0px auto;"/></div>
      <div style="width:734px;margin:0px auto; border-left:solid #74b05c 6px;border-right:solid #74b05c 6px;border-bottom:solid #74b05c 6px">
      
      <p style="font-size:24px; margin:10px auto; color:#74b05c;">最新公告</p>
      <table width="85%" border="0" class="boardtext">
  <tbody>
    <tr>
      <td width="20%">序号</td>
      <td width="50%">标题</td>
      <td width="30%">日期</td>
    </tr>
    <foreach name="broadcast" item="v">
        <tr>
            <td width="20%">{$v.id}</td>
            <td width="50%">{$v.title}</td>
            <td width="30%">{$v.time|date='y-m-d H:i',###}</td>
        </tr>
    </foreach>

  </tbody>
</table>
 <hr style="width:95%;margin:10px auto"/>
      </div>
      
      
      
      </td>
    </tr>
  </tbody>
</table>

 
 </div>
 
 <!-- FootAreaStart -->

<!-- FootAreaEnd -->
</body>
</html>
