<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>FAQ首页</title>
   <link href="__PUBLIC__/FAQSrc/content.css" rel="stylesheet" type="text/css">
 <script>
  $(document).ready(
	   function() {
		 
		   $(".a-top").mouseenter(
		   function(e) {
            $("#downlist").slideDown("fast");	
        });
		
		$("#downlist").mouseenter(
		   function(e) {
            $("#downlist").slideDown("fast");	
        });
		
	
		
		$("#downlist").mouseleave(
		   function(e) {
            $("#downlist").slideUp("fast");	
        });
		
    });
 </script>
 <style>
 .slidebarlink{
	 padding:12px 12px;
	 font-size:22px;
	 margin:15px;
	 display:block;
	 color:#444e41;
	 transition:.2s;
	 border-radius:3px;
	 
	 }
	 
	 .now{color:#FFFFFF;
	background-color:#74b05c;}
	 
.slidebarlink:hover{
	color:#FFFFFF;
	background-color:#74b05c;
}

#note{
	width:80%;
	border:none;
	margin-left:10px;
	font-size:25px;
	}

</style>
 
</head>

<body>



 
 <div id="wrap">
 <table width="99%" border="0" style="margin:25px 0px">
  <tbody>
    <tr>
      <td height="59" colspan="2" align="left" valign="middle" style="color:#444e41"><span style="font-size:34px">&nbsp;&nbsp;&nbsp;&nbsp;FAQ&nbsp;&nbsp;</span><span style="font-size:24px">常见问题&amp;解答</span></td>
      </tr>
    <tr>
      <td width="27%" valign="top">
        <p><a href="{:U('/Home/FAQ/index')}" class="slidebarlink now">▶&nbsp;FAQ首页</a></p>
        <p><a href="{:U('/Home/FAQ/faq_question')}" class="slidebarlink">&gt;常见问题</a></p>
        <p><a href="{:U('/Home/FAQ/faq_financial')}" class="slidebarlink">&gt;财务部</a></p>
        <p><a href="{:U('/Home/FAQ/faq_secretary')}" class="slidebarlink">&gt;秘书部</a></p>
        <p><a href="{:U('/Home/FAQ/faq_media')}" class="slidebarlink">&gt;新媒体工作室</a></p>
        <p><a href="{:U('/Home/FAQ/faq_art')}" class="slidebarlink">&gt;文艺拓展部</a></p>
        <p><a href="{:U('/Home/FAQ/faq_supervise')}" class="slidebarlink">&gt;财监委</a></p>
        <p><a href="{:U('/Home/FAQ/faq_guide')}" class="slidebarlink">&gt;社团成立指南</a></p>
        </td>
      <td width="73%" align="left" valign="top"><p>&nbsp;</p>
        <p>
        <div id="note">
        <p>建议使用 Chrome IE9及以上 Opera Firefox等浏览器</p>
        </div>
        </p>
      
      
      
      
      
      
      
      </td>
    </tr>
    </tbody>
</table>

 
 </div>
 

</body>
</html>
