<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <ol class="breadcrumb">
            <li><h4>大学生活动中心教室申请</h4></li>
        </ol>
        <form action="{:U('Material/Material/material_upload')}" class="form-horizontal" enctype="multipart/form-data" method="POST">
            <input type="hidden" name="action_type" value="sacenter">
            <div class="FillForm">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">协会名称</label>
                            <div class="col-sm-10">
                                <input type="text" name="AssociationName" class="form-control" data-check-null="notnull" data-check-notice="协会名称">
                            </div>
                        </div>

                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">活动名称</label>
                    <div class="col-sm-10">
                        <input type="text" name="ActivityName" class="form-control" data-check-null="notnull" data-check-notice="活动名称">
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">参与人数</label>
                    <div class="col-sm-10">
                        <input type="text" name="JoinNumber" class="form-control" data-check-null="notnull" data-check-notice="参与人数" data-check-type="number">
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">活动日期</label>
                    <div class="col-sm-10" id="ActivityDateArea">
                        <input type="text" name="ActivityDate" class="form-control" data-check-null="notnull" data-check-notice="活动日期">
                        <script>
                            var mydate=new Date();
                            $("#ActivityDateArea").html(generateDateSelector(mydate.getFullYear()+1,mydate.getFullYear(),true,true,"ActivityDate","ActivityDateArea_DateInput","YY年MM月DD日","adt","form-control","width:100px; display:inline-block;margin:5px;","data-check-notice='活动日期' data-check-null='notnull'"));
                        </script>
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">活动时间</label>
                    <div class="col-sm-10">
                        <select name="ActivityTime" class="form-control">
                            <option value="上午" selected>上午</option>
                            <option value="下午">下午</option>
                            <option value="晚上">晚上</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">普通教室（50人）</label>
                    <div class="col-sm-4">
                        <select name="NormalClassroom" id="" class="form-control">
                            <option value="" selected>-</option>
                            <option value="302">302</option>
                            <option value="303">303</option>
                            <option value="304">304</option>
                            <option value="603">603</option>
                        </select>
                    </div>
                    <label for="" class="col-sm-2 control-label">阶梯教室（300人）</label>
                    <div class="col-sm-4">
                        <select name="LadderClassroom" id="" class="form-control">
                            <option value="" selected>-</option>
                            <option value="305">305</option>
                            <option value="513">513</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">是否经系统查询</label>
                    <div class="col-sm-4">
                        <select name="Queried" id="" class="form-control">
                            <option value="否" selected>否</option>
                            <option value="是">是</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">活动内容（主题， 目的， 流程， 安全负责人）</label>
                    <div class="col-sm-10">
                        <textarea style="height: 200px" name="ActivityContent" class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">有无商业赞助</label>
                    <div class="col-sm-10">
                        <select name="Commercial" id="" class="form-control">
                            <option value="有" selected>有</option>
                            <option value="无">无</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">赞助方名及赞助方式（如有）</label>
                    <div class="col-sm-10">
                        <textarea style="height: 150px" name="CommercialPart" class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">活动负责人</label>
                    <div class="col-sm-10">
                        <input type="text" name="ActivityChargePerson" class="form-control" data-check-null="notnull" data-check-notice="活动负责人">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">联系电话</label>
                    <div class="col-sm-10">
                        <input type="text" name="ActivityPhone" class="form-control" data-check-null="notnull" data-check-notice="联系电话">
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">社团意见</label>
                    <div class="col-sm-10">
                        <textarea style="height: 150px" name="AssociationComment" class="form-control"></textarea>
                    </div>
                </div>
                       
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">策划提交<br>（可选）</label>
                <div class="col-sm-10">
                    <input type="file" name="file" class="btn btn-success" id="inputUploadFile">
                    <input type="hidden" name="ifUploadFile" id="ifUploadFile" value="none">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input type="button" class="btn btn-primary btn-lg" style="display:block; width: 150px; margin: 5px auto" data-role="submit" value="提交申请">
                </div>
            </div>
        </form>

    </body>
</html>
