<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <ol class="breadcrumb">
            <li><h4>体育场馆使用申请</h4></li>
        </ol>
        <form action="{:U('Material/Material/material_upload')}" class="form-horizontal" enctype="multipart/form-data" method="POST">
            <input type="hidden" name="action_type" value="sports">
            <div class="FillForm">
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">申请单位</label>
                    <div class="col-sm-10">
                        <input type="text" name="ApplyName" class="form-control" data-check-null="notnull" data-check-notice="申请单位">
                    </div>
                </div>

                <div class="form-group" style="margin-left: 10px"><h3>经办人信息</h3></div>
                <div class="form-group"><label for="" class="col-sm-2 control-label">姓名</label>
                    <div class="col-sm-10">
                        <input type="text" name="OperatorName" class="form-control" data-check-null="notnull" data-check-notice="经办人姓名">
                    </div>
                </div>
                <div class="form-group"><label for="" class="col-sm-2 control-label">联系方式</label>
                    <div class="col-sm-10">
                        <input type="text" name="OperatorPhone" class="form-control" data-check-null="notnull" data-check-notice="经办人联系方式">
                    </div>
                </div>
                <div class="form-group"><label for="" class="col-sm-2 control-label">学号</label>
                    <div class="col-sm-10"><input type="text" name="OperatorID" class="form-control" data-check-null="notnull"></div>
                </div>
                <div class="form-group"><label for="" class="col-sm-2 control-label">所在院（系）</label>
                    <div class="col-sm-10"><input type="text" name="OperatorDepartment" class="form-control" data-check-null="notnull"></div>
                </div>
                <p>&nbsp;</p>
                <div class="form-group"><label for="" class="col-sm-2 control-label">活动内容</label>
                    <div class="col-sm-10"><textarea style="height: 150px;" name="ActivityContent" class=" h150 form-control"></textarea></div>
                </div>
                <div class="form-group"><label for="" class="col-sm-2 control-label">活动日期</label>
                    <div class="col-sm-10" id="ActivityDateArea">
                        <input type="hidden" name="ActivityDate" class="inputArea h50" data-check-null="notnull" data-check-notice="活动日期">
                        <script>
                            var mydate=new Date();
                            $("#ActivityDateArea").html(generateDateSelector(mydate.getFullYear()+1,mydate.getFullYear(),true,true,"ActivityDate","ActivityDateArea_DateInput","YY年MM月DD日","adt","form-control","width:100px; display:inline-block;margin:5px;","data-check-notice='活动日期' data-check-null='notnull'"));
                        </script>
                    </div>
                </div>
                <div class="form-group"><label for="" class="col-sm-2 control-label">使用时间</label>
                    <div class="col-sm-10"><input type="text" name="UseTime" class="form-control" data-check-null="notnull" data-check-notice="使用时间"></div>
                </div>
                <div class="form-group"><label for="" class="col-sm-2 control-label">使用地点</label>
                    <div class="col-sm-10"><input type="text" name="UseLocation" class="form-control" data-check-null="notnull" data-check-notice="使用地点"></div>
                </div>
                <div class="form-group"><label for="" class="col-sm-2 control-label">备注</label>
                    <div class="col-sm-10"><textarea style="height: 150px;" name="Remark" class="form-control h100"></textarea></div>
                </div>


            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">策划提交<br>（可选）</label>
                <div class="col-sm-10">
                    <input type="file" name="file" class="btn btn-success" id="inputUploadFile">
                    <input type="hidden" name="ifUploadFile" id="ifUploadFile" value="none">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input type="button" class="btn btn-primary btn-lg" style="display:block; width: 150px; margin: 5px auto" data-role="submit" value="提交申请">
                </div>
            </div>
        </form>

    </body>
</html>
