<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="{:U('addNodeHandle');}" method="post">
    <table class="table">
        <tr>
            <th colspan="2">添加節點</th>
        </tr>
        <tr>
            <td align="right">{$type}名稱:</td>
            <td>
                <input type="text" name="name"<if condition="isset($node)">value="{$node.name}"</if>/>
            </td>
        </tr>
        <tr>
            <td align="right">{$type}描述:</td>
            <td>
                <input type="text" name="title"<if condition="isset($node)">value="{$node['title']}"</if>/>
            </td>
        </tr>
        <tr>
            <td align="right">是否开启:</td>
            <td>
                <input type="radio" name='status' value='1' checked='checked'/>&nbsp;开启&nbsp;
                <input type="radio" name='status' value='0'/>&nbsp;关闭
            </td>
        </tr>
    <tr>
        <td align="right">排序</td>
        <td>
            <input type="text" name="sort" value="1"<if condition="isset($node)">value="{$node['sort']}"</if>/>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <input type="hidden" name="pid" value="{$pid}"/>
            <input type="hidden" name="level" value="{$level}"/>
            <input type="hidden" name="id" <if condition="isset($node)">value="{$node['id']}"</if>/>
            <input type="submit" <if condition="isset($node)">value="保存修改"<else />value="添加"</if>/>
        </td>
    </tr>



    </table>
    </form>
</body>
</html>