<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>社联机构</title>
 <link type="text/css" rel="stylesheet" href="style/general.css">
 <script type="text/javascript" src="js/jquery.js"></script>
 <script>
  $(document).ready(
	   function() {
		 
		   $(".a-top").mouseenter(
		   function(e) {
            $("#downlist").slideDown("fast");	
        });
		
		$("#downlist").mouseenter(
		   function(e) {
            $("#downlist").slideDown("fast");	
        });
		
	
		
		$("#downlist").mouseleave(
		   function(e) {
            $("#downlist").slideUp("fast");	
        });
		
    });
 </script>
 <style>
 .slidebarlink{
	 padding:12px 12px;
	 font-size:22px;
	 margin:15px;
	 display:block;
	 color:#444e41;
	 transition:.2s;
	 border-radius:3px;
	 
	 }
	 
	 .now{color:#FFFFFF;
	background-color:#74b05c;}
	 
.slidebarlink:hover{
	color:#FFFFFF;
	background-color:#74b05c;
}
.de_link{
	margin-top:200px;
	margin-left:30px;
	border:1px solid red;
	}
.content_table{
	background:url(image/xinmeiti.png);
	background-size:contain; 
	background-position:300px 40px;
	background-repeat:no-repeat;
	font-family:微软雅黑;
	font-size:18px;
	}
.intro{
	display:inline-block;
	font-size:18px;
	padding-top:20px;
	font-weight:600;
	}
.infor{
	display:inline-block;
	padding-left:30px;
	font-size:18px;
	}

 </style>
 
</head>

<body>


<!-- HeadAreaStart -->
<div id="header">
  
    <table width="1200px" border="0" style="background:#74b05c;margin:0px auto;">
      <tbody>
        <tr>
          <td width="33%" align="center" valign="middle"><img src="im/dh.png" width="380" height="106" alt=""/>
          </td>
          <td width="13%" align="center" valign="middle" class="NaviLinkContainer"><a class="a-top"   href="#"   style="color: #FFFFFF">首页</a></td>
          <td width="13%" align="center" valign="middle" class="NaviLinkContainer"><a  class="a-top"   href="#"  style="color: #FFFFFF" >新闻</a></td>
          <td width="13%" align="center" valign="middle" class="NaviLinkContainer"><a  class="a-top"   href="#" style="color: #FFFFFF">社联</a></td>
          <td width="13%" align="center" valign="middle" class="NaviLinkContainer"><a   class="a-top"   href="#"  style="color: #FFFFFF">社团</a>
         </td>
          <td width="13%" align="center" valign="middle" class="NaviLinkContainer"><a  class="a-top" href="#"  style="color: #FFFFFF">其他</a></td>
        </tr>
      </tbody>
    </table>
</div>      
    <div id="downlist" style="display:none;">
     <table width="1200px" border="0" style="margin:0px auto;">
      <tbody>
        <tr>
          <td width="36%" align="center" valign="middle">&nbsp;
          
          
          </td>
          <td width="13%" align="left" valign="top">
            <p><a href="" class="downlistlink">评分系统</a>              </p>
            <p><a href="" class="downlistlink">资源申请</a></p>
            <p>
              <a href="" class="downlistlink">设计委任栏</a></p>
            <p>
              <a href="" class="downlistlink">资料下载</a></p>
          </td>
          <td width="13%" align="left" valign="top">
          <p>
          	<a href="" class="downlistlink">最新动态</a>
          </p>
          <p>
          	<a href="" class="downlistlink">活动预告</a>
          </p>
          <p>
          	<a href="" class="downlistlink">通告栏</a>
          </p>
          
          </td>
          <td width="13%" align="left" valign="top">
          <p>
          	<a href="" class="downlistlink">社联简介</a>
          </p>
          <p>
          	<a href="" class="downlistlink">社联机构</a>
          </p>
          <p>
          	<a href="" class="downlistlink">制度汇编</a>
          </p>
          <p>
          	<a href="" class="downlistlink">社联大事记</a>
          </p>
          <p>
          	<a href="" class="downlistlink">微仔说</a>
          </p>
       
          <p>&nbsp;</p>
          
          </td>
          <td width="13%" align="left" valign="top">&nbsp;
          
          </td>
          <td width="10%" align="left" valign="top">
               <p>
          	<a href="" class="downlistlink">会员维权</a>
          </p>
          <p>
          	<a href="" class="downlistlink">投诉建议</a>
          </p>
          <p>
          	<a href="" class="downlistlink">联系我们</a>
          </p>
          <p>
          	<a href="" class="downlistlink">FAQ</a>
          </p>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    
 <!-- HeadAreaEnd -->
 
 <div id="wrap">
 <table width="99%" border="0" style="margin:25px 0px">
  <tbody>
    <tr>
      <td height="59" colspan="2" align="left" valign="middle" style="color:#444e41"><span style="font-size:34px">&nbsp;&nbsp;&nbsp;&nbsp;社联&nbsp;&nbsp;</span><span style="font-size:24px">Association Union</span></td>
      </tr>
    <tr>
      <td width="27%" valign="top">
        <p><a href="au_info.html" class="slidebarlink">&gt;社联简介</a></p>
        <p><a href="au_department.html" class="slidebarlink now">▶&nbsp;社联机构</a></p> 
        <p><a href="au_regulation.html" class="slidebarlink">&gt;制度汇编</a></p>
        <p><a href="au_event.html" class="slidebarlink">&gt;社联大事记</a></p>  
        <p><a href="au_weizai.html" class="slidebarlink">&gt;微仔说</a></p>      
        </td>
      <td width="73%" height="520px">

              <table width="100%" class="content_table" cellspacing="0" cellpadding="0" height="500px">
            <tr>
              <td width="30%" align="center" valign="center" style="font-size:30px">新媒体工作室</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="30%" align="center" valign="top">
              	<table cellspacing="0" cellpadding="0">
                	<tr>
                      <td height="200px" width="100%" valign="top" align="center"><img src="photo/童金妮.jpg" width="70%"></td>
                    </tr>
                    <tr>
                      <td height="50px" align="center">童金妮<br>
					  生命科学与技术学院</td>
                    </tr>
                </table>
              </td>
              <td align="left" valign="top">&nbsp;&nbsp;&nbsp;&nbsp;学生社团联合会媒体部由文编组、逆光摄影工作室以及网络策划组三个部分组成。同时，媒体部内设有主持人队，支持社联以及社团的活动。社联媒体部是社联以及社团进行自身宣传的渠道，负责记录报道社联社团的各大活动，提供技术支持。主要职责具体如下： <br>
                <span class="intro">1.运营微信公众平台“社联微仔”：</span><br>
                <span class="infor">1）</span>微信公众平台每周信息编辑及推送；<br>
                <span class="infor">2）</span>后台回复管理，处理会员维权投诉；<br>
                <span class="infor">3）</span>编写专题文案，宣传社团、社联活动信息及线上线下互动，包括采访、活动宣传及回顾、平台互动等；</span><br>
                <span class="infor">4）</span>微信公众平台自定义菜单更新及维护<br>
                <span class="infor">5）</span>对校内外媒体进行调研评估，优化平台维护方式；<br>
                <span class="intro">2.搭建并推广各社团线上平台；</span><br>
                <span class="intro">3.进行微信公众平台的二次开发，拓展和开发社联微仔的实用功能；</span><br>
            	<span class="intro">4.社联新浪微博主页的日常维护；</span><br>
                <span class="intro">5.其他新媒体宣传模式的尝试和优化。目前以微信公众平台的运营为主。</span><br></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>
          
                
                </td>
      </tr>
              </tbody>
          </table>

 
 </div>
 
 <!-- FootAreaStart -->
<div id="footer">
        <p class="friendlink">友情链接</p>
</div>
<!-- FootAreaEnd -->
</body>
</html>