<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>社联机构</title>
    <script>
        $(document).ready(
                function () {

                    $(".a-top").mouseenter(
                            function (e) {
                                $("#downlist").slideDown("fast");
                            });

                    $("#downlist").mouseenter(
                            function (e) {
                                $("#downlist").slideDown("fast");
                            });


                    $("#downlist").mouseleave(
                            function (e) {
                                $("#downlist").slideUp("fast");
                            });

                });
    </script>
    <style>
        .imglink { width: 100%; height: 100%; display: block; position: relative; top:0px;}
        .imglink:hover {text-decoration: none; }
    </style>
</head>

<body>
<table height="529" width="667" border="0" style="background:url(__PUBLIC__/AUSrc/image/au_structure.png); background-repeat:no-repeat; background-size: contain; background-size:100% 100%;">
    <tbody>
    <tr>
        <td width="43" height="63">&nbsp;</td>
        <td width="48">&nbsp;</td>
        <td width="45">&nbsp;</td>
        <td width="46">&nbsp;</td>
        <td width="46">&nbsp;</td>
        <td colspan="3"><a href="{:U('/Home/Department/zhuxituan')}" name="zhuxituan" class="imglink" title="主席团"><div style="width: 100%; height: 100%;">&nbsp;</div></a></td>
        <td width="48">&nbsp;</td>
        <td width="48">&nbsp;</td>
        <td width="47">&nbsp;</td>
        <td width="50">&nbsp;</td>
        <td width="48">&nbsp;</td>
    </tr>
    <tr>
        <td height="229" colspan="13">&nbsp;</td>
    </tr>
    <tr>
        <td height="217"><a href="{:U('/Home/Department/caiwu')}" name="caiwu" class="imglink" title="财务部">&nbsp;</a></td>
        <td><a href="{:U('/Home/Department/waiqi')}" name="waiqi" class="imglink" title="社团外联企划小组">&nbsp;</a></td>
        <td><a href="{:U('/Home/Department/mishu')}" name="mishu" class="imglink" title="秘书部">&nbsp;</a></td>
        <td><a href="{:U('/Home/Department/renzi')}" name="renzi" class="imglink" title="人力资源部">&nbsp;</a></td>
        <td><a href="{:U('/Home/Department/shetuan')}" name="shetuan" class="imglink" title="社团部">&nbsp;</a></td>
        <td width="51"><a href="{:U('/Home/Department/xingjian')}" name="xingjian" class="imglink" title="行政监察部">&nbsp;</a></td>
        <td width="46"><a href="{:U('/Home/Department/wailian')}" name="wailian" class="imglink" title="外联部">&nbsp;</a></td>
        <td width="47"><a href="{:U('/Home/Department/gongguan')}" name="gongguan" class="imglink" title="公共关系部">&nbsp;</a></td>
        <td><a href="{:U('/Home/Department/meiti')}" name="meiti" class="imglink" title="媒体部">&nbsp;</a></td>
        <td><a href="{:U('/Home/Department/xuanchuan')}" name="xuanchuan" class="imglink" title="宣传部">&nbsp;</a></td>
        <td><a href="{:U('/Home/Department/sicun')}" name="sicun" class="imglink" title="思存工作室">&nbsp;</a></td>
        <td><a href="{:U('/Home/Department/xinmeiti')}" name="xinmeiti" class="imglink" title="新媒体工作室">&nbsp;</a></td>
        <td><a href="{:U('/Home/Department/wentuo')}" name="wentuo" class="imglink" title="文艺拓展部">&nbsp;</a></td>
    </tr>
    </tbody>
</table>


            <script>
                document.getElementById("side-depart").className="sidelink active";
                document.getElementById("navtitle-3").innerHTML="社联机构";
            </script>
</body>
</html>
