<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>社联大事记</title>
 <script>
  $(document).ready(
	   function() {
		 
		   $(".a-top").mouseenter(
		   function(e) {
            $("#downlist").slideDown("fast");	
        });
		
		$("#downlist").mouseenter(
		   function(e) {
            $("#downlist").slideDown("fast");	
        });
		
	
		
		$("#downlist").mouseleave(
		   function(e) {
            $("#downlist").slideUp("fast");	
        });
		
    });
	
	function ShowMonth(yr){
		var elementid="#"+yr+"_month";		
			$(elementid).slideToggle("fast");			
		}
		
	function ShowBox(yr,mon)
	{
		var allbox = document.getElementsByClassName("eventbox");
		for(var j=0;j<allbox.length;j=j+1){
allbox[j].style.display='none';

}


		
       
		var box = document.getElementsByClassName("eventbox "+ yr+" "+mon);
		for(var i=0;i<box.length;i=i+1){
box[i].style.display='block';
}
 var lilist = document.getElementsByClassName("li_list");
		for(var j=0;j<lilist.length;j=j+1){
lilist[j].style.backgroundColor='#ffffff';
}
        
		var liitemid="li_" +yr + "_" + mon;
		document.getElementById(liitemid).style.backgroundColor="#59a642";
		}
 </script>
 <style>
 .slidebarlink{
	 padding:12px 12px;
	 font-size:22px;
	 margin:15px;
	 display:block;
	 color:#444e41;
	 transition:.2s;
	 border-radius:3px;
	 
	 }
	 
	 .now{color:#FFFFFF;
	background-color:#74b05c;}
	 
.slidebarlink:hover{
		background-color:#74b05c;
}

.li_list
{
	width:40px;
	font-size:18px;
	transition:.2s;
	color:#000000;
	
	}
	
.li_list:hover
{
	color:#ffffff;
	background-color:#59a642;
}

.monthlist{
	list-style-type:none;
	}
	
	.eventbox{
		width:80%;
		height:150px;
		margin:20px auto;
		display:none;
		background-color:#ffd739;
		color:#FFFFFF;
		}

 </style>
 
</head>

<body>


 <div id="wrap">
 <table width="99%" border="0" style="margin:25px 0px">
  <tbody>
    <tr>
      <td height="59" colspan="3" align="left" valign="middle" style="color:#444e41"><span style="font-size:34px">&nbsp;&nbsp;&nbsp;&nbsp;社联&nbsp;&nbsp;</span><span style="font-size:24px">Association Union</span></td>
      </tr>
    <tr>
      <td width="27%" valign="top">
        <p><a href="{:U('/Home/AU/index')}" class="slidebarlink">&gt;社联简介</a></p>
        <p><a href="{:U('/Home/AU/department')}" class="slidebarlink">&gt;社联机构</a></p>
        <p><a href="{:U('/Home/AU/regulation')}" class="slidebarlink">&gt;制度汇编</a></p>
        <p><a href="{:U('/Home/AU/event')}" class="slidebarlink now">▶&nbsp;社联大事记</a></p>
        <p><a href="{:U('/Home/WeiZai/index')}" class="slidebarlink">&gt;微仔说</a></p>
        </td>
      <td width="58%" align="left" valign="top">
      <div class="eventbox 2014 1">
      
      <table width="100%" border="0">
        <tbody>
          <tr>
            <td width="30%">&nbsp;</td>
            <td width="69%" align="left" valign="middle">201401</td>
          </tr>
        </tbody>
      </table>

      </div>
      <div class="eventbox 2014 1">201401</div>
       <div class="eventbox 2014 5">201405</div>
      <div class="eventbox 2014 3">201403</div>
       <div class="eventbox 2015 1">201501</div>
      <div class="eventbox 2014 6">201406</div>
       <div class="eventbox 2015 1">201501</div>
      <div class="eventbox 2014 1">201401</div>
       <div class="eventbox 2015 1">201501</div>
      <div class="eventbox 2015 12">201512</div>
            <div class="eventbox 2009 12">200912</div>
      </td>
      
      <td width="15%" align="left" valign="top"> 
  
      
      <script>
	  var mydate=new Date();
	  var thisyear=mydate.getFullYear();
	  var thismonth=mydate.getMonth();
	  thismonth++;
	  document.writeln("<a onClick='ShowMonth(" + thisyear + ")'>" + thisyear + "年</a>");
	  document.writeln(" <ul id='"+ thisyear+"_month' class='monthlist' style='display:none'>");
	  for(var mon=1;mon<=thismonth;mon++)
	  {
		  document.writeln("<li onClick='ShowBox("+thisyear+","+mon+")'>"+mon+"月</li>");	  
		  }
	  document.writeln("</ul>");
	  document.writeln("<br>");
      for(var yr=thisyear-1;yr>=2008;yr--)
	  {
		  document.writeln("<a onClick='ShowMonth(" + yr + ")'>" + yr + "年</a>");
		   document.writeln(" <ul id='"+ yr+"_month' class='monthlist' style='display:none'>");
	       for(var mon=1;mon<=12;mon++)
	       {
		     document.writeln("<li class='li_list' id='li_" + yr + "_" + mon + "' onClick='ShowBox("+yr+","+mon+")'>"+mon+"月</li>");	  
		   }
	      document.writeln("</ul>");
	  document.writeln("<br>");
		  
	  }
      
      
      </script>
     
      </td>     
    </tr>
    </tbody>
</table>

 
 </div>

</body>
</html>
