<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title></title>
</head>
<link rel=stylesheet type=text/css href="__PUBLIC__/DesignSrc/style/commen.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<body>
<div class="top">
	<img src="__PUBLIC__/DesignSrc/images/logo.png">
	<span>传媒委任</span>
</div>
<nav class="container">
	<a href="{:U('Design/Design/design_design')}"><div class="appoint">委任查询</div></a>
		<div class="apartments">	
			<a href="#public"><div class="public">宣传部</div></a>
			<a href="#media"><div class="media">媒体部</div></a>
			<a href="#newMedia"><div class="newMedia">新媒体工作室</div></a>
		</div>
	<a href="{:U('Design/Design/design_notice')}"><div class="appoint">委任须知</div></a>
	<a href="{:U('Design/Design/design_apply')}"><div class="appoint">委任申请</div></a>
</nav>
<div class="content">
            {__CONTENT__}
</div>

<div class="footer"><p>CopyRight 2008-<span class="year"></span> AU SicunStudio<br />All Rights Reserved</p></div>
</body>


<script type="text/javascript" src="__PUBLIC__/DesignSrc/js/common_layout.js"></script>

</html>