<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="tetx/html; charset=UTF-8">
	<title></title>
</head>
<link rel=stylesheet type=text/css href="../../../Public/DesignSrc/style/commen.css" />
<body>
<div class="top">
	<img src="../../../Public/DesignSrc/images/logo.png">
	<h1>传媒委任</h1>
</div>

<div class="body">
            {__CONTENT__}
</div>

<div class="footer">CopyRight 2008-<span class="year"></span> AU SicunStudio<br >All Rights Reserved</div>
</body>


<script type="text/javascript">
	
var date=new Date();			//get the year
year=date.getFullYear();
document.getElementsByClassName("year")[0].innerHTML=year;
//heights=document.getElementsByClassName("top")[0].clientHeight;
//styles=document.getElementsByClassName("style")[0];
</script>


</html>