<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link type="text/css" rel="stylesheet" href="__PUBLIC__/general/general.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/general/top.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/general/banner.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/general/buttom.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>

    <style>

        .slideimgs {
            height: 600px;
            overflow: hidden;
        }

        #flexsliderarea {
            width: 100%;
            height: 600px;
        }
    </style>





    <title></title>
</head>
<body>
<div id="header">

    <table width="1200px" border="0" style="background:#74b05c;margin:0px auto;">
        <tbody>
        <tr>
            <td width="33%" align="center" valign="middle"><img src="__PUBLIC__/NewsSrc/im/dh.png" width="380" height="106"
                                                                alt=""/>
            </td>
            <td width="13%" align="center" valign="middle" class="NaviLinkContainer"><a class="a-top" href="{:U('Home/Index/index')}"
                                                                                        style="color: #FFFFFF">首页</a>
            </td>
            <td width="13%" align="center" valign="middle" class="NaviLinkContainer"><a class="a-top" href="#"
                                                                                        style="color: #FFFFFF">新闻</a>
            </td>
            <td width="13%" align="center" valign="middle" class="NaviLinkContainer"><a class="a-top" href="#"
                                                                                        style="color: #FFFFFF">社联</a>
            </td>
            <td width="13%" align="center" valign="middle" class="NaviLinkContainer"><a class="a-top" href="{:U('/Home/Association/index')}"
                                                                                        style="color: #FFFFFF">社团</a>
            </td>
            <td width="13%" align="center" valign="middle" class="NaviLinkContainer"><a class="a-top" href="#"
                                                                                        style="color: #FFFFFF">其他</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="downlist" style="display:none;">
    <table width="1200px" border="0" style="margin:0px auto;">
        <tbody>
        <tr>
            <td width="36%" align="center" valign="middle">&nbsp;


            </td>
            <td width="13%" align="left" valign="top">
                <p><a href="{:U('/Grade/Index/index')}" class="downlistlink">评分系统</a></p>

                <p><a href="{:U('/Material/Index/index')}" class="downlistlink">资源申请</a></p>

                <p>
                    <a href="{:U('/Design/Index/index')}" class="downlistlink">设计委任栏</a></p>

                <p>
                    <a href="" class="downlistlink">资料下载</a></p>
            </td>
            <td width="13%" align="left" valign="top">
                <p>
                    <a href="{:U('/Home/News/index')}" class="downlistlink">最新动态</a>
                </p>

                <p>
                    <a href="{:U('/Home/Activity/index')}" class="downlistlink">活动预告</a>
                </p>

                <p>
                    <a href="{:U('/Home/BroadCast/index')}" class="downlistlink">通告栏</a>
                </p>

            </td>
            <td width="13%" align="left" valign="top">
                <p>
                    <a href="{:U('/Home/AU/index')}" class="downlistlink">社联简介</a>
                </p>

                <p>
                    <a href="{:U('/Home/AU/department')}" class="downlistlink">社联机构</a>
                </p>

                <p>
                    <a href="{:U('/Home/AU/regulation')}" class="downlistlink">制度汇编</a>
                </p>

                <p>
                    <a href="{:U('/Home/AU/event')}" class="downlistlink">社联大事记</a>
                </p>

                <p>
                    <a href="{:U('/Home/WeiZai/index')}" class="downlistlink">微仔说</a>
                </p>

                <p>&nbsp;</p>

            </td>
            <td width="13%" align="left" valign="top">&nbsp;

            </td>
            <td width="10%" align="left" valign="top">
                <p>
                    <a href="{:U('/Home/Other/contact')}" class="downlistlink">会员维权</a>
                </p>

                <p>
                    <a href="{:U('/Home/Other/advice')}" class="downlistlink">投诉建议</a>
                </p>

                <p>
                    <a href="{:U('/Home/Other/member')}" class="downlistlink">联系我们</a>
                </p>

                <p>
                    <a href="{:U('/Home/FAQ/index')}" class="downlistlink">FAQ</a>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="wrap">
    <table width="99%" border="0" style="margin:25px 0px">
        <tbody>
        <tr>
            <td height="59" colspan="2" align="left" valign="middle" style="color:#444e41"><span style="font-size:34px">&nbsp;&nbsp;&nbsp;&nbsp;社联&nbsp;&nbsp;</span><span style="font-size:24px">Association Union</span></td>
        </tr>
        <tr>
            <td width="27%" valign="top">
                <p><a href="{:U('/Home/AU/index')}" class="slidebarlink">&gt;社联简介</a></p>
                <p><a href="{:U('/Home/AU/department')}" class="slidebarlink now">▶&nbsp;社联机构</a></p>
                <p><a href="{:U('/Home/AU/regulation')}" class="slidebarlink">&gt;制度汇编</a></p>
                <p><a href="{:U('/Home/AU/event')}" class="slidebarlink">&gt;社联大事记</a></p>
                <p><a href="#" class="slidebarlink">&gt;微仔说</a></p>
            </td>
            {__CONTENT__}
        </tr>
        </tbody>
    </table>


</div>




<div id="footer">
    <p class="friendlink">友情链接</p>
</div>
</body>
</html>