<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>社联机构</title>

 <script>
  $(document).ready(
	   function() {
		 
		   $(".a-top").mouseenter(
		   function(e) {
            $("#downlist").slideDown("fast");	
        });
		
		$("#downlist").mouseenter(
		   function(e) {
            $("#downlist").slideDown("fast");	
        });
		
	
		
		$("#downlist").mouseleave(
		   function(e) {
            $("#downlist").slideUp("fast");	
        });
		
    });
 </script>
 <style>
.de_link{
	margin-top:200px;
	margin-left:30px;
	border:1px solid red;
	}
.content_table{
	background:url(__PUBLIC__/AUSrc/image/mishu.png);
	background-size:contain; 
	background-position:200px 0;
	background-repeat:no-repeat;
	font-family:微软雅黑;
	font-size:18px;
	}
.infor{
	display:inline-block;
	padding-left:25px;
	padding-top:20px;
	}

 </style>
 
</head>

<body>


      <td width="73%" height="520px">

              <table width="100%" class="content_table" cellspacing="0" cellpadding="0" height="500px">
            <tr>
              <td width="30%" align="center" valign="center" style="font-size:30px">秘书部</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="30%" align="center" valign="top">
              	<table cellspacing="0" cellpadding="0">
                	<tr>
                      <td height="200px" width="100%" valign="top" align="center"><img src="__PUBLIC__/AUSrc/photo/邹启.jpg" width="70%"></td>
                    </tr>
                    <tr>
                      <td height="50px" align="center">邹啟<br>
					  生命科学与技术学院</td>
                    </tr>
                </table>
              </td>
              <td align="left" valign="top">&nbsp;&nbsp;&nbsp;&nbsp;华中科技大学学生社团联合会秘书部是学生社团联合会内部的协调和监督部门,管理社联的日常事务，协助主席团更加系统化地开展各项工作。主要工作职责具体如下：<br>
                <span class="infor">1．协调内部部门及日常事务的处理。</span><br>
                <span class="infor">2．负责社联章程及制度的起草,监督其实施。</span><br>
                <span class="infor">3．内部物品管理，档案管理，会议组织及值班安排。</span><br></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>
          
                
                </td>


</body>
</html>