<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>社联机构</title>
 <style>
.de_link{
	margin-top:200px;
	margin-left:30px;
	border:1px solid red;
	}
.content_table{
	background:url(__PUBLIC__/AUSrc/image/xingjian.png);
	background-size:contain; 
	background-position:200px 0;
	background-repeat:no-repeat;
	font-family:微软雅黑;
	font-size:18px;
	}
.infor{
	display:inline-block;
	padding-left:25px;
	padding-top:20px;
	}
 </style>
</head>
<body>
              <table width="100%" class="content_table" cellspacing="0" cellpadding="0" height="500px">
            <tr>
              <td width="30%" align="center" valign="center" style="font-size:30px">行政监察部</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="30%" align="center" valign="top">
              	<table cellspacing="0" cellpadding="0">
                	<tr>
                      <td height="200px" width="100%" valign="top" align="center"><img src="__PUBLIC__/AUSrc/photo/王威.jpg" width="70%"></td>
                    </tr>
                    <tr>
                      <td height="50px" align="center">王威<br>
					  土木工程与力学学院</td>
                    </tr>
                </table>
              </td>
              <td align="left" valign="top">&nbsp;&nbsp;&nbsp;&nbsp;学生社团联合会行政监察部是社联面向各个社团的监督监察机构，维护各社团成员的利益，及时对社团进行改善和整顿，主要工作职责具体如下：<br>
                <span class="infor">1．负责社团的审批、注册，注册证发放以及对问题社团的整顿处罚。</span><br>
                <span class="infor">2．处理社团以及会员的纠纷、违规及受理投诉。</span><br>
                <span class="infor">3．负责全校学生社团的调查、评估、评优工作。</span><br></td>
            </tr>
            <tr>
              <td colspan="2"></td>
            </tr>
          </table>
              <script>
                  document.getElementById("navtitle-depart").innerHTML="行政监察部";
              </script>
</body>
</html>