.FillForm {
    table-layout: fixed;
    margin: 5px auto;
}

.h150 {
    height: 150px;
}

.h100 {
    height: 100px;
}

.FillForm input {
    background-color: transparent;
}

.FillForm .inputArea {
    border: none;
    width: 100%;
    padding-left: 10px;
    background-color: transparent;
}

.FillForm input[type="text"].inputArea.h35 {
    height: 35px;
    line-height: 35px;
    font-size: 16px;
}

.FillForm input[type="text"].inputArea.h35.underlined {
    height: 30px;
    line-height: 30px;
    border-bottom: solid 1px #000000;
    margin-bottom: 3px;
}


.FillForm input[type="text"].inputArea.h50 {
     height: 50px;
     line-height: 50px;
     font-size: 16px;
 }

.FillForm input[type="text"].inputArea.h50.underlined {
    height: 45px;
    line-height: 45px;
    border-bottom: solid 1px #000000;
    margin-bottom: 3px;
}

.FillForm input[type="text"].inputArea.h80 {
    height: 80px;
    line-height: 80px;
    font-size: 16px;
}

.FillForm input[type="text"].inputArea.h100 {
    height: 100px;
    line-height: 100px;
    font-size: 54px;
}

.FillForm textarea.inputArea {
    height: 100%;
    line-height: 20px;
}

.ErrorInput {
    background-color: #ffe3e3;
}

.FillForm td {
    padding: 0px !important;
}

.disable-area {
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.disable-area:hover {
    cursor: no-drop;
}

.tableContainer {
    overflow-x: auto;
    overflow-y: hidden;
}

.tableWrapper {
    width:710px;
    margin: 5px auto;
}